[2022-02-02 20:39] royb-legit commented on #286
Yes, I agree. So maybe for those SLSA-adopting vendors who wish to present their general SLSA capability, it can be nice to add a new type of "SLSA compliant organization" badge - depicting those two levels. WDYT?

Indeed something that would have to be dealt with, but no different than the current situation, as described in [the levels page](https://slsa.dev/spec/v0.1/levels): `We envision an acc

[2022-02-02 22:38] david-a-wheeler commented on #286
I don't think this is a good idea. If an organization says they are "SLSA level X", can a potential customer be confident that everything the organization maintains is level X? That'd be hard to check, and could easily lead to users getting misled. If they just say "we're capable of doing X", well, I hope so, but users should only care about they actually achieve.

I remember when many organizatio

[2022-02-02 23:34] royb-legit commented on #286
@david-a-wheeler you're right, regarding the single level being misleading - it was discussed above, and we moved on to the less confusing "min-max" approach. It can benefit vendors that did actually put a lot of effort into raising the SLSA compliance of their entire SDLC. You want to give such vendors the opportunity to say, for instance, "all of our artifacts are between SLSA 2 and SLSA 3" (whe

[2022-02-03 00:34] david-a-wheeler commented on #286
@royb-legit - I think the problem though is that "all our artifacts" can be challenging to evaluate, just because the word "all" is a challenge. How can you be sure you have a complete list? How can you really verify that it's really happening?

I'm *all* for reducing work. If we can address those issues well enough so that users can have confidence in the answers, then maybe it'll be fine, but I

[2022-02-03 01:11] royb-legit commented on #286
Right, the "all" part isn't practical in most cases, but presenting the fact that your CI/CD env meets a certain SLSA level can be. According to the current description in some pages, the accreditation body which the framework envisions needs to verify that the source and build systems meet the correct level as the vendor claims. Once you have that, you can specify the minimal and maximal levels w

[2022-02-03 12:10] joshuagl opened #291 "Isolated builds and build caches"
Part of the [Isolated](https://slsa.dev/spec/v0.1/requirements#isolated) build requirement is that:

At SLSA level 4, where hermetic is also a requirement, this would be scoped to only include caches which are provided by the build service (as any external dependencies must be pre-fetched and networking disabled).

However, this requirement can be interpreted in such a way that it makes SLSA level

[2022-02-03 12:15] joshuagl opened #292 "Update industry collaboration logos to include chainguard?"
Following https://github.com/slsa-framework/slsa/pull/283 should we update the industry collaboration section of the landing page to remove ActiveState and add ChainGuard?

I think that's as simple as removing docs/images/logos/activestate.png and adding docs/images/logos/chainguard.png

cc @kimsterv

[2022-02-03 18:00] MarkLodato commented on #291
I'm actually not sure of the purpose of the current wording. @dlorenc could you perhaps explain a bit more of the rationale?

In my mind, the following already covers this issue:

Is that the only concern, i.e. that one build instance "poisons" the cache so that a subsequent build uses a bad dependency? If so, how does content-admissibility help? Or is it a different concern?

If `actions/cache` d

[2022-02-03 18:14] dlorenc commented on #291
I think I was worried about a specific issue with the GitHub actions cache, where someone had pointed out a few cross-build cache-poisoning attacks.

I'd have to dig it up to see the exact attack.

[2022-02-04 15:29] MarkLodato opened #296 "Enhancement proposal process"
I suggest that we create an "enhancement proposal" process similar to [Python], [Numpy], [Kubernetes], [TUF], [Tekton], etc.

What do you all think? If you agree I'll create the new repo. We can always flesh out the process over time. Having a place to stick this stuff would be valuable.

[Python]: https://www.python.org/dev/peps/pep-0001/
[Numpy]: https://numpy.org/neps/nep-0000.html
[Kubernetes]

[2022-02-04 16:30] david-a-wheeler commented on #296
If a proposal is *complicated*, writing it up this way can be really helpful, but I think there are many proposals that are simple & don't need the extra process.

So I suggest making it clear that simple proposals can continue to be handled with the simple (GitHub issues) process, and complex proposals (which require significant explanation of the problem and/or solution) should go through a more

[2022-02-04 17:02] joshuagl commented on #296
I fully support this effort, any proposal that results in a long-lived PR we would like to collaboratively iterate on is a good candidate for an enhancement. We might even try to migrate PRs/Issues rather than steering folks to the enhancements repo to start, having only one Issue tracker should help here I think.

The name "SPICE" is great, but agree with plain old "enhancements" – TAPS in TUF ar

[2022-02-04 20:15] inferno-chromium commented on #222
@jspeed-meyers @bureado - ossf/oss-compromises private repository is created and you guys are added as contributors. It is good to think of a data structure format first for both easy editing and viewing first (yaml/json/md), present some examples in WG and then migrate all of the data over from various places (we can get community help in migration part).

[2022-02-04 21:17] jspeed-meyers commented on #222
@bureado, perhaps you and I (and any interested parties) should synchronously meet and discuss data structure options?

[2022-02-05 02:30] gubasza commented on #195
https://wordpress.com/help/contact

[2022-02-05 02:31] gubasza commented on #195
[](https://slsa.dev/)โลโก้ SLSA
[Overview](https://slsa.dev/)
[Specifications]()
[Provenance](https://slsa.dev/provenance/v0.2)
[Use cases](https://slsa.dev/use-cases)
[Get started](https://slsa.dev/get-started)
[Community](https://slsa.dev/community)
Community
There’s an active community of members, contributors and collaborators behind the SLSA framework. We’re drawn together by the shared goals

[2022-02-07 00:32] ianlewis opened #298 "PR Merge commits and verified history requirement"
https://slsa.dev/spec/v0.1/requirements#verified-history

The verified history requirement currently states:

_Every change in the revision’s history has at least one strongly authenticated actor identity (author, uploader, reviewer, etc.) and timestamp. It must be clear which identities were verified, and those identities must use [two-step verification](https://www.google.com/landing/2step/) or

[2022-02-07 11:27] MarkLodato commented on #286
I wholeheartedly agree that we should eventually define how to apply SLSA to more than just individual artifacts. In fact, this is what we do within Google&mdash;[BAB](https://cloud.google.com/security/binary-authorization-for-borg) (the SLSA equivalent) applies on a per-service-account basis. We decided to start SLSA with just applying to individual artifacts because that was the easiest thing to

[2022-02-09 17:43] david-a-wheeler commented on #20
An easy way to do this would be to use HTML `<details>` ...rationale... `</details>`

[2022-02-09 18:02] david-a-wheeler commented on #20
E.g., Requirement "Scripted build" says:

I think we need to document the rationale, something like this:

Rationale: If the only way to rebuild the software is to manually enter special commands, over time rebuilders are likely to forget/omit steps, leading to subtly wrong builds. In addition, an automated script is necessary to implement automated pipelines to rebuild and test built artifacts. N

[2022-02-09 19:26] david-a-wheeler commented on #20
Here's a tweaked rationale for "Scripted build" - I think every rationale needs to explain *why* it's relevant to security/integrity. I also add a reference to the best practices badge requirement for the same thing if there's a build step available. I chose "scripted build" because I figured it shouldn't be hard to write a rationale for it :-).

Rationale: If rebuilding the software requires manu

[2022-02-09 19:56] mlieberman85 commented on #298
Can you go a bit more in detail on the Github example?

The way I view it is that the persons reviewing the code should be strongly authenticated. In this case the reviewer's identity is the one responsible for the merge.

[2022-02-09 21:50] kimsterv commented on #187
@trishankatdatadog flagging that this issue ties into the [doc](https://docs.google.com/document/d/1z_9C13hvGFcBx3l7ehvXmiCcU5Ywf8KROPDia7Nhymw/edit?usp=sharing) discussed today in the wg

[2022-02-09 23:12] puerco commented on #298
I think if a human actor merges a PR (at least in GitHub), the requirement is met. But maybe you mean when a bot merges the PRs @ianlewis? Say for example Prow in the Kubernetes repos:
[code]

If that is what you mean, a short discussion started some months back about a possible exemption for bots: https://github.com/slsa-framework/slsa/issues/196

[2022-02-09 23:52] ianlewis commented on #298
@puerco Yeah, I assume that a person in Github is strongly authenticated. The issue I see is that the merge commit is signed by Github so the commit itself isn't authenticated with the key of the person who merged it. It may be ok for the purposes of SLSA that we take Github's word for it that Github signing it means that the person is authenticated and has the right authority but that's what I wo

[2022-02-10 11:43] #292 closed

[2022-02-11 14:06] MarkLodato commented on #129
Another issue is how we handle source packages/archives.

* Language distros, such as PyPI, distribute "source tarballs/zips" alongside the package.
* Linux distros, such as Debian, distribute "source packages" along side the binary package.

In most cases, the workflow is `version control --> [build source archive] --> source archive --> [build binary package] --> binary package`. In the SLSA mod

[2022-02-11 17:17] trishankatdatadog commented on #296
Agree SPICE is damned good name

May I recommend looking at some-battle-tested processes like [TAP 1](https://github.com/theupdateframework/taps/blob/master/tap1.md), [ITE-1](https://github.com/in-toto/ITE/blob/master/ITE/1/README.adoc), and [PURE: 1](https://github.com/uptane/pures/blob/main/pure1.md) for inspiration

[2022-02-14 15:23] MarkLodato commented on #296
Another example: https://github.com/golang/proposal

I actually like this process because "proposal" is more clear (IMO) than "enhancement." A "SLSA enhancement" could be misinterpreted as an "add-on" or "extensions", whereas "proposal" is fairly unambiguous. It also uses issues for proposals, only some of which require an additional "design document" in the repo. That seems to be what we want her

[2022-02-14 16:18] david-a-wheeler commented on #287
We might consider allowing relaxing two-person review to one person if the proposal is from a "trusted robot". Most "trusted robot" changes are (unsurprisingly) very mechanical, like reformatting or renaming.

However, while you should *definitely* use many tools to scan proposals before accepting them, I don't think robots make very good reviewers. Robots typically look at narrow issues, not the

[2022-02-15 14:28] joshuagl commented on #296
+1 on Issues as a starting point, it's good for submitters to get early feedback before having to write a formal doc and it's better if the way to achieve that feedback is documented and open.

I like "proposal" as a name, too. Though it doesn't cover one aspect of the TAP process in TUF that I anticipate _may_ also be useful for SLSA – the notion of an informational TAP – that is one where no cha

[2022-02-16 17:51] TomHennen commented on #298
Our view (at least @MarkLodato and I, I think) has been that GitHub doing a merge is acceptable as long as the author of the code was strongly authenticated and (if we're looking at SLSA L4) that the reviewer was strongly authenticated.  How that authentication happens is unspecified at the moment (I'm sure different systems will want to do it different).

Are we "taking GitHub's word for it" I th

[2022-02-17 02:19] ianlewis commented on #298
I think that view is entirely reasonable but I think the language could be updated to make that more clear. Particularly the "first-parent-history" part.

[2022-02-23 16:38] shaunmlowry commented on #296
+1 on the proposal in general and issues as starting points.  Would also like to see an index for enhancement proposals similar to [PEP-0](https://www.python.org/dev/peps/) to help categorize them.

Also, +1 on SPICE as SEP is famously Somebody Else's Problem :-)

[2022-02-23 17:16] abacchi commented on #20
@david-a-wheeler I am happy to be the "hater" to spot check these and help write some

[2022-02-23 17:25] shaunmlowry commented on #276
Happy to contribute here.  I'm particularly interested in how SLSA and SBOM overlap where SLSA gives you highly detailed information on the provenance of individual software artifacts and SBOM gives you an overview of your entire stack and how it interrelates.  There seems to be some synergy here where tooling could validate a complete stack by walking the graph presented in SBOM and doing artifac

[2022-02-23 17:26] jonmuk commented on #276
From my perspective i'd like to review an end user's recommended approach to securing their supply chain. By documenting the use cases and mapping out a high level secure supply chain programme we can pull out the requirements then identify gaps to SLSA. We are then able to debate about whether to include the new requirements into SLSA or another standard (Secure Development and the SSDF for examp

[2022-02-23 18:07] dekkagaijin commented on #236
It appears that the example implementation given uses a dedicated `community` repo to serve as the source-of-truth and record of updates to the community spec. Should a `https://github.com/slsa-framework/community` repo be made? Otherwise, I'm happy to create a PR forking the spec into this repo to get the ball rolling

[2022-02-23 20:02] swinslow commented on #236
Hi all, I've recently been helping the LF with a writeup on implementing the Community Spec documents (https://github.com/CommunitySpecification/1.0/pull/12), based on some lessons learned from implementing this for [SPDX](https://github.com/spdx/governance).

I'm starting to put together a draft repo to implement this for SLSA at https://github.com/swinslow/slsa-governance, which could then be mo

[2022-02-23 21:54] swinslow commented on #236
Following from my earlier comment -- please take a look at the updated documents at https://github.com/swinslow/slsa-governance. I've prepared and customized these for SLSA, with the intention that these would eventually move over to the `slsa-framework` org with `governance` as the repo name.

There are a handful of items in particular that the community will want to take a close look at. I've cr

[2022-02-24 14:04] jspeed-meyers commented on #222
Friendly ping, @bureado.

[2022-02-27 05:00] bureado commented on #222
@jspeed-meyers and thanks for the ping! I contacted @inferno-chromium on the OpenSSF Slack (same alias) but happy to connect elsewhere.

[2022-02-28 19:17] jspeed-meyers commented on #222
Ah, that works! I'll go join now and find you two.

[2022-03-01 15:28] MarkLodato opened #306 "Simplify terminology and concepts for v0.2, e.g. "platform" vs "service""
*Spun off from #294.*

For v0.2, let's consider if we can simplify terminology to avoid jargon. Examples:

* Use either "platform" and "service" consistently rather than having two separate terms.

We should version bump for this because "service" is used in many places (e.g. "Service generated"), and if we change the name it will break existing links and generally make it harder people who knew t

[2022-03-04 00:18] konstruktoid opened #308 "When there is no build - minimum viable slsa?"
Is there any guidelines regarding slsa and a project where there isn't an actual build step?
In my case I'm thinking about configuration management and infrastructure as code, where the project files basically is the finished product.

I've started experimenting with https://github.com/konstruktoid/ansible-role-hardening/blob/master/.github/workflows/slsa.yml but is that an acceptable level 1 or i

[2022-03-04 14:17] MarkLodato opened #309 "SLSA Blog"
I suggest that we create a SLSA Blog. The posts would be presented as opinions of the author, not necessarily of the SLSA project. Benefits:

* To give a steady update on activity to interested parties. Often work goes on behind the scenes or in detailed discussions, so it is difficult to see that progress is being made. A blog post can help communicate that progress at a higher level.
* To allow

[2022-03-04 14:24] MarkLodato commented on #296
I'm working on the proposal now. Should be ready today.

Personally, I find such "informational" proposals confusing. I think they are better written as either:
- A blog post (#309), for things that are point-in-time descriptions.
- Proper documentation, for things that we want to maintain.

[2022-03-04 14:46] joshuagl commented on #309
Great idea, demonstrating the liveliness of the project to folks not attending the community meetings and providing a space to share ideas both seem like good uses of a blog.

[2022-03-04 15:49] MarkLodato commented on #296
Sent out https://github.com/slsa-framework/slsa/pull/310 and https://github.com/slsa-framework/slsa-proposals/pull/1 for the proposal. I used the same propose to propose this process, as an example and to make sure it works OK. :-)

[2022-03-04 18:33] MarkLodato commented on #306
See also: #129 (better define source). We probably want to clarify "build script" vs "primary source artifact" because in some cases it's different, e.g. GCB and Tekton allow the build script to be defined via the UI, not coming from the source repo. That thread has a lot more detail.

By the way, here's an alternate build diagram that I just rediscovered. We might want to incorporate bits of this

[2022-03-04 19:44] MarkLodato opened #311 "slsa.dev front page is broken"
The main https://slsa.dev page is broken, just showing a blank page and a footer. Subpages still work.

I'll investigate, but IMO the difficulty of debugging is an argument in favor of netlify (#266).

![image](https://user-images.githubusercontent.com/58860/156831045-ccc81c8e-6b3d-4942-bf38-f625cc45a950.png)

[2022-03-04 19:55] MarkLodato commented on #311
I deployed the same commit to https://marklodato.github.io/slsa/ and it worked. I'll figure out how to tell GitHub Pages to rebuild.

[2022-03-04 20:21] #311 closed

[2022-03-04 20:23] MarkLodato commented on #311
The problem is that the latest version of pages-gem is outputting `` instead of the actual HTML. Seems like a version problem. When I do `bundle update` to get the latest versions, I get the same problem locally as deployed.

I'm guessing the culprit is one of:
* commonmarker 0.23.4 (was 0.17.13)
* jekyll-commonmark 1.4.0 (was 1.3.1)
* jekyll-commonmark-ghpages 0.2.0 (was 0.1.6)

The fix was to ad

[2022-03-04 20:24] MarkLodato commented on #311
And to clarify, GitHub Pages always uses the latest version of the build tools. If you rebuild the same commit later, you'll get a different result. Gemfile.lock has no impact. (We just have it for local and netlify preview builds.)

GitHub Pages also has no "rollback" button. So you have to fix forward. Not a god situation.

[2022-03-04 20:26] MarkLodato commented on #266
Since there is no objection, one +1 from @trishankatdatadog, and front-page breakage caused by GitHub Pages (#311), I'm going to proceed with this change. I'll update the top comment with tasks.

[2022-03-04 21:27] samwhite-gl commented on #276
@MarkLodato please let me know if this is not the best place to surface this.  As we discussed some yesterday, this topic of "How does SLSA fit into broader supply chain security" is of interest to me.  Currently GitLab's vision for broader supply chain security is defined at https://about.gitlab.com/direction/supply-chain/.  There is a lot of overlap here with the current SLSA requirements, but t

[2022-03-05 08:46] inferno-chromium commented on #276
@samwhite-gl - regarding your question on "It would be helpful for me to better understand whether SLSA is intended to be strictly a standard related to how artifacts are produced or if SLSA eventually plans to expand to address a broader view of Software Supply Chain Security (SSCS)." - this is something we are thinking about as well and need community input on how to proceed with this expanded s

[2022-03-05 09:43] sergiomarotco opened #314 "Bug: event-stream link"
Link [event-stream](https://schneider.dev/blog/event-stream-vulnerability-explained/) in text is wrong.
[event-stream](https://schneider.dev/blog/event-stream-vulnerability-explained/): Attacker added an innocuous dependency and then later updated the dependency to add malicious behavior. The update did not match the code submitted to GitHub (i.e. attack F).

The Host is not resolvable.

[2022-03-07 18:14] MarkLodato commented on #276
Hi @samwhite-gl! As @inferno-chromium said, SLSA's scope is still TBD. The next concrete step is for someone to create a proposal (#296) that makes a recommendation one way or the other. GitLab's supply chain doc is a great resource for that. I'm hoping that someone from Google will be able to do start this in the coming weeks(?), but I know that others on this thread have also expressed interest

[2022-03-07 18:43] lumjjb opened #315 "Metadata to include indication of Non-falsifiable provenance (builder)"
We have been working on non-falsifiable provenance requirement for SLSA 3 for Tekton ([TEP doc PR branch](https://github.com/lumjjb/community-2/blob/edit-spire-implementable/teps/0089-nonfalsifiable-provenance-support.md)).

As part of chains creating the SLSA provenance, we are wondering if we should include a flag that non-falsifiable provenance was enforced as part of the builder - and if so, w

[2022-03-07 19:36] MarkLodato commented on #315
Thanks for the recap, @lumjjb. I suggest that we leave this issue open with the action item of documenting this somewhere official. This is not the first time this concept has come up, so we should have some sort of official documentation on this recommendation.

[2022-03-08 16:42] joshuagl commented on #314
Thank you for reporting! It looks like that site has gone down and is unlikely to come back. We could point to an archived [copy on the WayBackMachine](https://web.archive.org/web/20210909051737/https://schneider.dev/blog/event-stream-vulnerability-explained/). Or update the link to point to either the [npm report on the incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-st

[2022-03-08 17:46] joshuagl commented on #308
Hi Thomas. The definition of a build step is a frequent cause of confusion. We've recently updated our terminology page to describe the [build model]((https://slsa.dev/spec/v0.1/terminology#build-model)) and hope to simplify the terminology in a future specification version (see https://github.com/slsa-framework/slsa/issues/306).

Does the build model diagram and terminology help clarify your use-

[2022-03-09 09:03] konstruktoid commented on #306
Regarding terminology, defining "build script" and "primary source artifact" and also splitting "build" and "source code" into two valid ... sources(?) would clarify some issue, at least for me.

I asked in #308 if e.g configuration management code[*] could be a valid level 1 since there is no build process per se and the documentation states that "the build process must be fully scripted/automate

[2022-03-09 09:09] konstruktoid commented on #308
Thanks @joshuagl, I've added a comment regarding the terminology as well and I'll move this discussion to that issue.

[2022-03-09 13:02] MarkLodato commented on #306
Regarding the question from #308, we should clarify that no build is required. If the thing pulls directly from the version controlled source of truth (eg git) then all of the build requirements are trivially met. But if you pull files out of the get repo and package them into a zip file or similar, that is still a build.

[2022-03-10 11:40] #314 closed

[2022-03-10 19:51] MarkLodato opened #319 "How to record version information about the builder"
In general, how should a builder record information about its own version in the provenance?

From @laurentsimon on https://github.com/in-toto/in-toto-golang/issues/159 (with edits from me):

[2022-03-10 20:02] MarkLodato commented on #319
The `builder.id` field represents the transitive closure of the trusted computing base of the builder, meaning the set of things we have to trust that had influence over the provenance generation. That cannot really base hashed or versioned because it is not one piece of software but a collection of systems.

For example, if the builder is a particular GitHub Action, then the `builder.id` represen

[2022-03-10 20:06] TomHennen commented on #319
When we talk about the builder version are we talking about:

1. The version of the build _service_?
2. The version of the executable that the build service _runs_?

If 1 note that complex build service may not have a single version number to reference, they might be composed of multiple different binaries run on multiple different machines.  I suppose the same potentially applies to 2 but might b

[2022-03-10 20:09] TomHennen commented on #319
I'd be wary of <action>@<hash> as the builder id.  Someone might decide to clarify comments and cause existing policies to be invalidated. <action>@<tag> or <action>@<branch> might be preferred for builder.id?

[2022-03-10 20:09] TomHennen commented on #319
I'd be wary of <action>@<hash> as the builder id.  Someone might decide to clarify comments and cause existing policies to be invalidated. <action>@<tag> or <action>@<branch> might be preferred for builder.id?

[2022-03-15 14:16] MarkLodato opened #321 "How strong of a guarantee is required for Isolated and Ephemeral Environment at SLSA 3?"
A major difference between SLSA 2 and 3 is that the build steps run in an [Isolated], [Ephemeral] environment. But how strong of a guarantee do we need to make to call something SLSA 3, given that network access is still allowed and thus some build steps could execute remotely? This can be solved at SLSA 4 by requiring a [Hermetic] environment with no network access, but at SLSA 3 it seems impossi

[2022-03-15 20:40] MarkLodato commented on #319
I don't know. We'd need to test to find out. At a minimum, it can be used to point to arbitrary branches, which means we'd need to be very careful about what is pushed.

Another option might be to have a second attestation on that commit showing that it is an ancestor of the proper branch.

[2022-03-16 13:48] jspeed-meyers commented on #222
@inferno-chromium, @MarkLodato, and @david-a-wheeler, I worked on a proof of concept blog post about how SLSA can help OSS compromises. link - https://blog.chainguard.dev/slsa-vs-software-supply-chain-attacks/ If expanded, this is the type of work that I think could constitute a "how SLSA could help" analysis.

[2022-03-16 15:39] joshuagl opened #323 "Document software attestations model and rationale somewhere more official"
The SLSA [software attestations](https://github.com/slsa-framework/slsa/blob/main/controls/attestations.md) document is referenced by the [provenance format](https://slsa.dev/provenance/v0.2) specification (and in future the VSA format specification #285), but is not part of the official documentation (not rendered as part of slsa.dev).

We should officially document SLSA Software Attestations as

[2022-03-16 18:03] sergiomarotco opened #325 "Backdoor in node-ipc?"
Check https://github.com/vuejs/vue-cli/issues/7054

looks like a very exciting investigation, might the links to the list of threats for your project come in handy?

[2022-03-16 18:20] sergiomarotco commented on #325
https://github.com/search?q=Y291bnRyeV9uYW1l%22%2C+%22base64%22&type=issues

[2022-03-16 18:43] trishankatdatadog commented on #325
Is this political noise?

[2022-03-16 18:49] 06kellyjac commented on #325
It's essentially malware that rewrites files on people's machines and it's introduced via dependencies

`@vue/cli` -> `@vue/cli-ui` -> `node-ipc` -> `peacenotwar`

![image](https://user-images.githubusercontent.com/9866621/158664939-67c040fc-acf1-4fa3-8629-841ce99afed2.png)

I think this is better moved to #222

[2022-03-16 18:51] msuozzo commented on #325
@trishankatdatadog what do you mean? this seems like a good example of supply chain compromise (specifically resulting from not locking dependencies) that we can publicize as a rationale for SLSA's requirements.

[2022-03-16 18:53] trishankatdatadog commented on #325
That issue had no clear summary whatsoever from a quick glance. I'd rather focus on adding one line about this in #222 and calling it a day. Otherwise this issue/repo risks turning into a political discourse.

[2022-03-16 19:02] msuozzo commented on #325
Nothing in this thread would lend me to believe that this would involve a political discussion. Neither the introductory post nor the linked thread. A substantial number of the other supply chain attacks have also involved geopolitical conflict yet we still design systems to make things more secure.

[2022-03-16 19:06] trishankatdatadog commented on #325
Have you fully read the linked thread?

I'm not opposed to mentioning the incident without going into who supports/opposes the war.

[2022-03-16 20:31] TomHennen commented on #323
Do you have any thoughts about where to link to it from slsa.dev?  #285 provides the content but doesn't actually set up any links either.

Maybe turn the top-level 'Provenance' thing into 'Attestations' and then link to all three from a menu there?

[2022-03-16 21:17] nm17 commented on #325
@trishankatdatadog More detailed breakdown of it here: https://gist.github.com/MidSpike/f7ae3457420af78a54b38a31cc0c809c

[2022-03-16 21:25] TomHennen opened #326 "Clarify 'dependencies complete' at L4"
There seems to be some confusion around if 'dependencies complete' means that the provenance lists all transitive dependencies.

My view is that I don't think it does, but others have different (sometimes subtlety different) thoughts on the matter.

Can we clarify what it means?

[2022-03-16 21:35] david-a-wheeler commented on #326
For clarity's sake I think it'd be better use the term "all transitive dependencies" or similar. You could argue that you have a complete set of direct dependencies.

[2022-03-16 21:51] laurentsimon commented on #319
related https://github.com/gossts/slsa-provenance/issues/21

[2022-03-17 11:34] 06kellyjac commented on #325
snyk has a good breakdown now too: https://snyk.io/blog/peacenotwar-malicious-npm-node-ipc-package-vulnerability/

@sergiomarotco when you get a moment can you add a link related to this to #222 and close this issue

[2022-03-17 14:16] jspeed-meyers commented on #326
I'd support the idea that it's "all dependencies, including transitive dependencies" and have the language make that clear. But there's room for differing views.

[2022-03-17 14:31] MarkLodato commented on #326
I believe the problem comes down to ambiguity of the term "transitive."

Let's consider a concrete example, a Python-based Dockerfile build:

[code]

There are three "direct" dependencies, which obviously must be included in the provenance:

* [pkg:oci/python?tag=3.8-slim-buster](https://hub.docker.com/layers/python/library/python/3.8-slim-buster/images/sha256-5219a919478706db73bfc713865eb7c000434

[2022-03-17 15:19] sergiomarotco commented on #222
maleware in node-ipc
https://gist.github.com/MidSpike/f7ae3457420af78a54b38a31cc0c809c
https://snyk.io/blog/peacenotwar-malicious-npm-node-ipc-package-vulnerability/

[2022-03-17 15:56] TomHennen commented on #309
What should the process be for approving posts?  Just have one other committee member verify that it's not spam?

I'm happy to set it up on Medium.

[2022-03-17 16:41] david-a-wheeler commented on #278
E.g., an allowlist of parameters for the build system as a whole.

Note: Individual components may have more capabilities without invalidating this. E.g., a makefile used in a build, may have a huge number of parameters, but I think this should apply to the build system as a whole (e.g., the build system / script that invokes make, not the makefile in isolation).

[2022-03-17 16:43] MarkLodato commented on #321
This was presented at today's meeting (2021-03-17).

[2022-03-17 17:26] shaunmlowry commented on #278
I think this makes sense.  FWIW at ActiveState, we think of a build producing a number of artifacts, each created by a number of steps with distinct builders.  Users can specify that they want certain features of this whole build e.g. "debuggable" and we maintain a list of builder-specific parameters that react to those requests - for example if we're building a C library on linux with a builder t

[2022-03-17 17:35] TomHennen commented on #309
Ok, I'm going to try to set up a Medium 'Publication' for SLSA.  Then we can have slsa.dev/blog redirect there somehow.

Someone let me know if they have a better idea.

[2022-03-17 19:39] kimsterv commented on #309
I think keeping it simple and easy is best. One other committee member and lazy consensus (after say 2 working days?) sgtm. If this doesn't work, we can always revisit of course.

[2022-03-17 22:15] jorydotcom commented on #309
👋🏻 qq, is Medium a strong want here? I ask because another project I work with has historically had several challenges managing its blog on Medium. It's great for the social/share component, and the UI for writers is great, but we find for a variety of reasons its hard to keep it updated (access control/permissions management, collaborating on drafts, people who don't have medium accounts & want t

[2022-03-18 03:55] sergiomarotco opened #328 "SVG is not good!?"
As u can see, i can't see lines in [attestations.md](https://github.com/slsa-framework/slsa/blob/main/controls/attestations.md)

![image](https://user-images.githubusercontent.com/29877074/158934568-f0136f75-bf32-4d71-b720-c9247b408c24.png)

[2022-03-18 04:35] sergiomarotco commented on #325
i add, check please

[2022-03-18 04:38] sergiomarotco opened #329 "Migrate #222 to new repo"
Can u migrate https://github.com/slsa-framework/slsa/issues/222 to new repo to maintain a list in README.md ?

[2022-03-18 08:43] 06kellyjac commented on #329
There was some discussion on this on yesterdays SLSA call. There are 2 repos in mind but I dont have the links to hand

[2022-03-18 09:35] 06kellyjac commented on #325
yep, that's great thanks. I can't close issues so if you or someone else could that'd be great

[2022-03-18 11:36] #325 closed

[2022-03-18 11:48] sergiomarotco commented on #329
It seems to me that you are complicating the process, it is enough to make a repository and transfer all links to the repository.  It takes 10 minutes of work.

[2022-03-18 11:49] joshuagl commented on #309
I'd prefer GitHub too, it feels like that would be easier for review?

I'm on-board with lazy consensus, but worry that two days might be too short? Perhaps it's enough for folks to indicate their intent/desire to review within two days?

[2022-03-18 11:49] sergiomarotco commented on #329
It seems to me that you are complicating the process, it is enough to make a repository and transfer all links to the repository.  It takes 10 minutes of work.

[2022-03-18 12:12] 06kellyjac commented on #329
I said there is **already** 2 repos, that's 0 minutes of work

https://github.com/cncf/tag-security/tree/main/supply-chain-security/compromises

2nd repo is currently private

Discussion on the SLSA call: https://youtu.be/uAwVr-IOrTc?t=3306

[2022-03-18 12:59] MarkLodato commented on #309
I also prefer GitHub, but it is a bit more work to [set up](https://jekyllrb.com/docs/step-by-step/08-blogging/) and I'm not the one doing it. Medium does have nice commenting, which GitHub wouldn't have by default. I'm OK either way.

To set it up on GitHub, I believe this involves:

* Adding a link to docs/_data/nav.yml (we'll need this either way)
* Configuring docs/_config.yml have the put pos

[2022-03-18 13:12] TomHennen commented on #309
I believe @jorydotcom is volunteering to set it up for us.

Also I think I'd prefer _not_ having comments since it's just another thing to moderate.  If people really want to comment they can use Twitter or file GH issues?  I don't feel that strongly about this though.

[2022-03-18 13:46] jorydotcom commented on #309
@MarkLodato @TomHennen happy to do the setup whichever route ya'll go. And great question whether you want the blog to sit with your existing site or spun up on a subdomain. Probably keeping it with the existing repo would be faster, so we don't have to track down whoever has access to the DNS and mess with that. Also one less repo to maintain.

[2022-03-18 13:47] MarkLodato commented on #309
Great! I'm ok with /blog/. Any objections?

[2022-03-18 14:55] joshuagl commented on #309
I like /blog/

[2022-03-18 15:53] inferno-chromium commented on #309
Yes +1 to same site and /blog/

[2022-03-18 16:11] inferno-chromium commented on #329
@sergiomarotco - it is not about throwing the links, but to create structured content (e.g. exploit category / mapping to slsa threats, etc) to be more useful. There is a call next week among volunteers to discuss this.
Private repo is https://github.com/ossf/oss-compromises

[2022-03-18 17:01] konstruktoid commented on #309
`blog.slsa.dev` redirect to /blog/

[2022-03-21 20:58] asraa opened #331 "Donate SLSA 3 github workflows to slsa-framework or ossf"
Hey everyone!

Laurent @laurentsimon and I presented about a reusable workflow + OIDC-based signing to achieve SLSA 3 in GitHub Actions at the last SLSA bi-weekly. We were hoping to migrate or donate our workflows to a larger organization than gossts, and were wondering if the slsa community or ossf organization would be able to host these. I would be happy to maintain the code here, and add docum

[2022-03-21 21:01] inferno-chromium commented on #331
Since this is an implementation of SLSA, it would fit very well in a repo under slsa-framework org (like slsa-examples or something).

[2022-03-22 16:47] jorydotcom commented on #309
It's been a few days and there have been no objections to a github-driven blog, that lives with the SLSA site - I think it's safe to get started on this this week! Will plan to have something for you to review Monday.

[2022-03-22 16:56] TomHennen commented on #309
Great, thanks Jory!

[2022-03-22 17:07] kimsterv commented on #309
Thank you!

On Tue, Mar 22, 2022 at 9:56 AM Tom Hennen ***@***.***> wrote:

[2022-03-23 08:46] marcofranssen commented on #331
I have started a similar initiative.

https://github.com/marcofranssen/slsa-workflow-examples

Utilizing:

- https://github.com/philips-labs/slsa-provenance-action
- https://github.com/sigstore/cosign
- https://github.com/anchore/syft

Also see my blog about this example:
https://marcofranssen.nl/secure-your-software-supply-chain-using-sigstore-and-github-actions

[2022-03-23 14:01] MarkLodato opened #332 "0.2: Replace "non-falsifiable" with a more accurate term"
The term [non-falsifiable](https://en.wikipedia.org/wiki/Falsifiability) is used incorrectly in the SLSA requirements. "Falsifiable" means that a theory can be proved false though some test, which is actually a good thing. What we actually mean is "non-forgeable," though perhaps there is an even better term. Any suggestions? (Note: This is also somewhat related to #261.)

I suggest that we wait un

[2022-03-23 14:02] MarkLodato commented on #332
Once it's decided to change, we could add a note to v0.1 noting this misuse of the term.

[2022-03-23 15:29] david-a-wheeler commented on #332
The scientific meaning of falsifiable is "capable of being disproved through experiment". The meaning intended here is "incapable of being undetectably false", which is a plausible meaning of the word but isn't what will come to mind to many.

Perhaps "non-forgeable" or "verifiable" are better terms?

[2022-03-23 17:19] MarkLodato commented on #331
@laurentsimon I don't see why not. I think we can just do it now unless @slsa-framework/slsa-steering-committee disagrees.

I suggest that we move the repo to the slsa-framework project, with warning at the top of the README saying it's not yet official. If anyone objects within a week or so, we just move it back. Assuming everyone is OK with it, we remove the warning right before we do an officia

[2022-03-23 17:28] laurentsimon commented on #331
+1

+1

+1

We could get around this by having `builderID` be the generic `.github/workflows/slsa/workflow.yml` and the `materials` contain the hash/tag of it. Starting with tag simplifies things , so I think it's a good idea

[2022-03-23 17:33] trishankatdatadog commented on #331
Let's do it

[2022-03-23 17:56] asraa commented on #331
+1 -- Marco, maybe also we could colab on some of them and incorporate some of the upload, SBOM work? One major difference we have is the non-falsifiable piece from guaranteeing maintainer isolation w the reusable workflow. We could colab on one of these repos!

[2022-03-23 18:52] laurentsimon commented on #331
@asraa and I have brainstormed offline and these are the repos we think we'd like to have created to host the code:

1. `github-generator`: will host code to generate provenance (including reusable workflows), e.g. `.github/workflows/slsa3_provenance.yml` that generate provenance and is ecosystem-agnostic.

2. `github-generator-go`: will host code to build and generate provenance for projects writ

[2022-03-24 13:42] joshuagl commented on #331
This is amazing. Thanks you @asraa and @laurentsimon for volunteering to maintain this as part of slsa-framework. With my steering committee hat on, I'd love to have these repos be part of the slsa-framework org.

I'm really interested in playing around with the code and working on some generators for other ecosystems (initially I'm thinking of Maven/Java and Python).

If you're looking for co-mai

[2022-03-24 15:25] MarkLodato commented on #331
@laurentsimon @asraa Sounds good, with a few questions:

* Should we prefix each with `slsa-` so that it looks OK in forks? I'm fine either way.
* Do you want to transfer the existing repo (along with Github issues, etc) or do you want me to create a fresh one that you push into? If the former, you initiate that via the [settings page](https://docs.github.com/en/repositories/creating-and-managing-

[2022-03-24 16:08] laurentsimon commented on #331
@joshuagl Would gladly have you be a maintainer, thanks!

@marcofranssen it'd be great to have you come onboard too! I think your examples deal with containers, and they are a big piece we need to work out so your help would be invaluable. For example, it's not clear to me how provenances are composed and are captured from a package (pip, npm, etc) into the final container: does the container prov

[2022-03-25 18:38] TomHennen opened #334 "Link to verification_summary/v0.1"
https://slsa.dev/verification_summary/v0.1 exists now but you can't navigate to it from the rest of the site.

Perhaps we should turn the 'Provenance' menu at the top into a drop down to link to various things?

E.g.

* Attestations
  * Provenance
  * Verification Summary

If we really like having 'Provenance' directly in the top menu then we could do:

* Specifications
  * ...
  * Attestations (n

[2022-03-25 20:50] laurentsimon commented on #331
so the transfer can only be done if the repo owner have push access to `slsa-framework`. The repo owner is `gossts` so I think I need this use to be a collaborator temporarily to do the transfer. This way we'd keep issues, history, etc

Let me know f this is feasible. Thanks!

[2022-03-26 04:50] nasifimtiazohi commented on #94
Why don't we simply refer to the "trusted persons" as maintainers? "Trust" sounds more like a subjective quality and is hard to measure.

[2022-03-28 19:51] MarkLodato opened #335 "slsa.dev style: missing space between paragraphs"
The CSS on the slsa.dev website removes virtual whitespace between paragraphs, which makes it really hard to read. This is because (at least) there are two different rules that set `p { margin: 0 }`, one in main.css and one in tailwind.min.css. Adding a margin after the paragraph will fix it, though care must be taken to not break anything else. (I wish we had an easy visual diffing tool.)

If any

[2022-03-28 20:04] MarkLodato commented on #334
Yup.  "Attestations" menu sounds good. Also I'd rename "Specifications" to "Levels" (and "Levels" to "Security levels") since the former is ambiguous. That is:

* **Levels** [was "Specifications"]
  * Introduction
  * Terminology
  * **Security Levels** [was "Levels"]
  * ...
* **Attestations**
  * Provenance
  * **Verification summary**

I put together a draft at #336 but as you can see our websi

[2022-03-28 21:01] MarkLodato commented on #94
Good idea. I'm open to that.

Are there any cases where "maintainers" is worse than "trusted persons"? I can't think of any but it's worth asking.

[2022-03-29 02:54] anvega opened #337 "Less reductive SLSA leveling"
I've been trying to rationalize SLSA levels but struggle when I see three discrete separate domains of provenance, integrity, compliance conflated as one that lumps together criteria across the three for the different SLSA levels in a single axis, rather than aggregating and computing across three different axes for the three different areas of guarantees.

Borrowing from the docs, here is where I

[2022-03-29 02:59] nasifimtiazohi commented on #94
Well, I am not sure about the exact definition of maintainer as well. If it is only about write access to a GitHub project, then a compromised maintainer can add a sock puppet account as another maintainer to bypass the review restrictions. But then again, a compromised maintainer with enough permissions probably can do a lot of other things as well.

On the other hand, a "trusted person" may indi

[2022-03-29 03:29] dlorenc commented on #337
To put this a bit more charitably, I think of it as, "I did my part! Yes, we're still all connected in the supply chain, but I did all I could to make my portion safe.* :)

[2022-03-29 04:58] mlieberman85 commented on #337
It's probably worthwhile a writeup on the transitive problem.

There are still plans for a "transitive" SLSA level but where does it end? What is that bottom turtle, do we go back to the kernel and all the compilers? What are individual projects and organizations comfortable with?

To @dlorenc 's point SLSA's initial releases are in that piece of getting individual projects to start attesting that

[2022-03-29 13:32] #332 closed

[2022-03-29 13:48] MarkLodato commented on #306
Continuing the discussion with @nasifimtiazohi from #94 on the idea to rename "trusted persons" to "maintainers":

Suggestion: we move this term to the Terminology page and define a maintainer as a person, not an account. In the requirements we already have the "Different persons" requirement w.r.t. the sock puppet issue.

[2022-03-29 14:40] laurentsimon commented on #331
Yes, closing.

[2022-03-29 14:40] #331 closed

[2022-03-29 15:09] ThomasOwens opened #338 "Missing Threat: Revoked Dependency"
I've been reviewing the SLSA documentation and it seems like there is a missing dependency threat: an instance where the authorized maintainer of a dependency destroys the dependency. This could be pulling the dependency from public repositories or updating the version to remove the functionality (especially when versioned as a patch).

This isn't quite like some of the other identified threats. F

[2022-03-29 18:44] MarkLodato opened #340 "slsa.dev style: nav menu needs CSS fixes"
This is blocking #336.

* [ ] The JS/CSS on our site doesn't support more than one submenu, so clicking on any opens them all.
* [ ] The popout is too narrow so "Verification summary" gets wrapped to more than one line. The CSS ought to be dynamic so that this wrapping doesn't happen.

![image](https://user-images.githubusercontent.com/58860/160477649-461c9da1-3270-4d9d-96fa-3e26adebf9bc.png)

Oth

[2022-03-29 18:49] ThomasOwens commented on #338
This is a valid point. It's not clear to me - even with reading the homepage and Introduction and some of the other pages - what the scope of SLSA is. There's talk of "artifact integrity" and "secure packages and infrastructure" but not the scope.

I will say, though, that the inability to build a system can indirectly lead to security issues. When you rely on public repositories, you rely on them

[2022-03-29 19:35] MarkLodato commented on #338
Thanks, @ThomasOwens!

I agree that we should add this to the [threats page](https://slsa.dev/threats), presumably under the "dependencies" category. I would like that page to model all supply chain threats, whether in-scope or out-of-scope. Care to send a PR?

For the current version (v0.1), I'd call this "out of scope" since none of the requirements address this this threat. Do you agree?

For f

[2022-03-30 17:52] ThomasOwens commented on #338
@MarkLodato

I'm not sure that it is out of scope. The requirements for "Hermetic" may address this, although the bit about "prevent network access while running the build steps" is a bit unusual. It does say that is a "best effort" requirement, though.

The common way I've addressed this threat model is for the organization to use a controlled repository. Sometimes, the organization may choose to

[2022-03-30 18:21] shaunmlowry commented on #337
I think there's 2 potential transitive axes here:

1. Steps along the path to producing an artifact, e.g. I've applied a SLSA 4 build process to source code which was only managed to SLSA 3
2. Dependent artifacts, e.g. I have DBD::MySql built end-to-end SLSA 4, but it's linked against MySQL which was only built to SLSA 3

Both axes have effects on the level of trust you should put in any given art

[2022-03-30 18:47] shaunmlowry commented on #337
Also, regarding transitive effects, [this description of SLSA level composition](https://github.com/slsa-framework/slsa/tree/21f1f31f6c3944e28057ef28d77559dad06c9aac#composition-of-slsa-levels) appears to be germane but discarded

[2022-03-30 18:52] MarkLodato commented on #338
I agree that what you suggest is as good idea and that perhaps it should be a new requirement for the next version, but I don't think anyone is interpreting the "Hermetic" requirement in that way. It was not the intention to require mirroring of all inputs. That is why I suggested that we call it "out of scope" for v0.1. Again, not that it's a bad idea, just that it was not considered for v0.1.

[2022-03-30 23:12] ThomasOwens commented on #338
@MarkLodato Makes sense. I did think it was a little bit of a stretch. Out-of-scope but perhaps not far out-of-scope. I'll still go forward with that pull request in the next couple of days, for sure. Thanks.

[2022-03-31 16:19] melba-lopez opened #341 "Map SLSA to other frameworks/standards"
Meeting compliance with different frameworks/regulations is top of mind for many companies.  As companies start looking at what SLSA can do for them, it is unclear how it maps without dedicating time to look through all the requirements and map on their own.

Suggest having some sort of matrix to map to WhiteHouse EO, NIST SSDF, NIST C-SCRM, PCI, etc.  Wording would have to be clear that it **does

[2022-04-01 09:32] sergiomarotco opened #342 "Now is 2022"
![image](https://user-images.githubusercontent.com/29877074/161237113-a7628ba8-423e-4f4c-ae1c-503f5286df12.png)

[2022-04-01 12:23] #342 closed

[2022-04-01 19:08] MarkLodato commented on #296
I just sent out https://github.com/slsa-framework/slsa-proposals/pull/2 to mark this as implemented. Assuming no objection, I'll close this issue next week.

[2022-04-01 22:12] samwhite-gl commented on #261
Thanks @MarkLodato.  I agree with this and feel that it would be beneficial to move this requirement to SLSA level 3.  We could perhaps leave some lesser version of this requirement in SLSA level 2.  My initial thought is that a new SLSA 2 appropriate requirement might be something like "Scripted Provenance Generation" which would be similar to the "Scripted Build" requirement but would apply to p

[2022-04-02 07:44] fredgan opened #346 "official SLSA level dataset about any OSS?"
Hi folks, do we have any official SLSA level dataset about any OSS now?

[2022-04-04 14:17] ThomasOwens commented on #338
@MarkLodato I've opened a pull-request that includes the partial changes. It felt more appropriate to add it how I did, rather than to the "things that don't fit well in current picture", but I would be open to changing if it was appropriate. If the current approach is good, I can look at editing the SVG to add I to the diagram.

[2022-04-04 15:51] david-a-wheeler commented on #338
I think we definitely need to note this threat, in particular because there are *different* countermeasures for it (caching the information and/or having a repo's policy prevent removal after some period of time).

[2022-04-05 10:16] #334 closed, assigned to MarkLodato

[2022-04-05 10:32] MarkLodato commented on #335
Tailwind also ruins `<ol>` tags by setting `list-style: none`. I think we need to get rid of tailwind and instead use proper css.

[2022-04-05 16:03] syntaxerror13 opened #348 "New Threat type ideas"
Three new Threat types could be added to the Threat model at https://slsa.dev/spec/v0.1/threats

1. Compromised build / scan / test tool. This is when an external tool (from source repo, or binary repo) that is used in the build / scan / test automation is compromised. Difference from D is D focuses on build env while this happens on input materials.
2. Unidentified usage of dependency package. Wh

[2022-04-06 16:45] bobcatfish commented on #306
Small detail re Tekton: the hurdle for Tekton is that in the initial implementation, the source of truth for task/build definitions was the Kubernetes cluster - but later support was added for storing these definitions in OCI registries and recently fetching them from version control ([TEP-0060](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md)).

(The UI was

[2022-04-06 18:07] MarkLodato opened #349 "Provenance: add ability to differentiate between different types of `materials`, e.g. build tool vs library"
*[Copied from in-toto/attestation/issues/29]*

Currently all `materials` are lumped together (except `recipe.definedInMaterial`). It would be useful to be able to differentiate between different types of materials. We can probably look to [SPDX Relationships](https://spdx.github.io/spdx-spec/relationships-between-SPDX-elements/) for prior art and inspiration.

Example classifications:

- "source"

[2022-04-06 18:20] MarkLodato opened #350 "Provide better guidance on `materials`"
*[This issue is moved from in-toto/attestation/issues/25. GitHub doesn't allow us to move issues across organizations, so see the original for history.]*

Currently it's unclear on what "complete" means for `materials`. Does it include materials used by the builder itself, e.g. the GitHub Actions orchestrator, or just the "runner"? To minimize the list, do we recommend that builds execute within a

[2022-04-06 20:37] MarkLodato opened #351 "Provide guidance on level of granularity for "build""
*[Moved from in-toto/attestation/issues/32]*

We need to provide better guidance on how granular a "build" should be, meaning the `invocation.entryPoint` in provenance v0.2. This is a common question when implementing SLSA. Most builds end up executing a series of steps. We want to discourage listing every single step that was run because it makes writing policies too difficult (duplication betwee

[2022-04-06 20:48] marcofranssen commented on #269
Wrote 2 blogs on the topic that might help in further defining a standard to address this.

- https://marcofranssen.nl/secure-your-software-supply-chain-using-sigstore-and-github-actions
- https://marcofranssen.nl/oci-as-attestations-storage-for-your-packages

[2022-04-06 21:43] marcofranssen opened #352 "Helm provenance vs SLSA provenance"
Might be nice to pair up with the Helm team.

https://helm.sh/docs/topics/provenance/

Would be great if they would adopt slsa provenance

[2022-04-07 18:26] MarkLodato opened #353 "Provenance: explain how it is expected to be verified"
*[Moved from in-toto/attestation/issues/15]*

In the provenance spec, add a section documenting how the provenance is intended to be consumed and verified. This should aid readability, just as the [Processing Model](https://github.com/in-toto/attestation/tree/main/spec#processing-model) helped with the in-toto Envelope/Statement spec.

[2022-04-10 23:37] kimsterv commented on #346
None that I'm aware of.

[2022-04-12 15:58] MarkLodato commented on #335
If we use add the `markdown` class, it fixes most issues, but `blockquote` elements are formatted as horizontal boxes (flex model, different color, etc.). We'd need to fix that before applying that fix to the standards pages.

[2022-04-12 20:43] MarkLodato opened #360 "slsa.dev: make the diagrams easier to edit"
Currently our drawings are created in either Figma or Google Drawings. Neither of these are good for editing.

* The Figma drawings are difficult to edit. They can't be edited on Chromebooks or Linux because they use custom fonts, which only work on Windows or Mac. Plus Figma has a non-trivial learning curve.
* The Google drawings are easy to edit, but only by the owner. We can't check it in to ve

[2022-04-13 14:50] Adriano33avg opened #361 "33"

[2022-04-13 15:13] laurentsimon opened #362 "Question on blob post about "Service Generated""
[code]

[2022-04-13 15:26] 06kellyjac commented on #361
Fresh bot account?

[2022-04-13 15:44] #361 closed

[2022-04-13 16:09] laurentsimon commented on #362
I understand the mitigation ideas, but it's not clear what a "good build" is and how to validate this given that the space of inputs is "unbounded".

re: `tracing tools during certification of a builder/build step to ensure it's only doing what I expect it to do`. That only really works if you control what goes into the build yourself. Realistically it's pretty hard to decide if something is bad o

[2022-04-13 16:20] mlieberman85 commented on #362
I guess it depends on who and what you trust. It might be a bit easier for a company to do by providing policies and best practices around the build space.

It might be harder around some open source projects if they don't have the right governance and/or the right funding to support some of these things.

[2022-04-13 16:23] mlieberman85 commented on #362
This is actually a project we're looking at in the CNCF Security TAG: https://github.com/cncf/tag-security/issues/890 -- to take a CNCF project and try to enforce all the right build practices we can, find where there might be gaps in the tooling space and maybe work with projects like Alpha/Omega to see if there are ways we can fund additional effort.

[2022-04-13 18:21] varunsh-coder commented on #362
Thanks for tagging me @laurentsimon.

https://github.com/step-security/harden-runner monitors for file overwrite of source code during build. It also monitors outbound connections and one can limit outbound traffic at both DNS and TCP layers. @mlieberman85 I am curious what checks have you implemented in your POCs with eBPF...

w.r.t real incidents, the [SolarWinds breach](http://crowdstrike.com/b

[2022-04-13 19:27] ThomasOwens commented on #338
This was resolved in #347

[2022-04-13 19:27] #338 closed

[2022-04-14 14:20] TomHennen commented on #362
SLSA does offer some protection against attacks like SolarWinds (see [the threats pages, row D](https://slsa.dev/spec/v0.1/threats)).  It does this by placing higher security requirements on the build system itself.  Of course if an attacker is able to circumvent the security controls then yes, the attack would still go undetected. This is where reproducible builds (just recommended at SLSA L4) pr

[2022-04-14 14:47] mlieberman85 commented on #362
@varunsh-coder I will try and find some of the demos I had given at some public working group meetings. I mostly used Aqua security Tracee to track what a build was doing and highlight when the build seemed to be writing stuff directly into memory and then execing what it straight from memory.

@TomHennen I do like that point. SLSA puts a higher burden on the build system itself which means you kn

[2022-04-14 15:46] laurentsimon commented on #362
re: build tracing. One could also do perform the tracing post-build (say, at ingestion time on the consumer side) by replaying the build command reported in the SLSA provenance. This may be viable in certain scenarios.

re: reproducible builds. I've heard different things around reproducibility:
1. Some folks say that a build is reproducible if running the build multiple times on the *same* system

[2022-04-14 16:35] mlieberman85 opened #365 "What counts as service generated?"
There is some confusion around whether trusted, validated builders that don't run developer code count as service generated or literally only the control plane.

[2022-04-14 18:02] mlieberman85 commented on #365
Based on the conversation during the 2022-4-14 SLSA community meeting, there were a few challenges discussed and some potential solutions:

Challenges:
- The way the service generated and non-falsifiable requirements are written make it unclear what is actually expected.
- A simple reading of the rule would mean only the build orchestration engine itself, i.e. control plane would be able to genera

[2022-04-14 18:57] TomHennen commented on #362
What do you mean by "the same system".  Do you mean the same actual machine/service or do you mean "org 1 built this on their own Debian 11 machine and got hash 123, and then org 2 built this on their own Debian 11 machine and got hash 123 so it's all good"?

Yes, I think the builder.id is how that will be indicated (in a round-about way).  Builders that just infer information of take it from the

[2022-04-14 19:28] laurentsimon commented on #362
in the context of reusable workflow, by "same" I meant "on *a* GitHub runner using ubuntu-latest".

[2022-04-14 20:58] mlieberman85 commented on #360
I use structurizr but it's not completely open source though free if you run it yourself. It also is really built for c4 diagrams . Here is an example of what it looks like: https://github.com/buildsec/ssf/tree/main/docs/diagrams -- the .dsl is the "code" and the .json is machine readable formatting info.

This lets you write it "as code" but tweak layout graphically to make changes. Sort of like

[2022-04-14 20:59] varunsh-coder commented on #362
Thanks for sharing @TomHennen. I am still ramping up on the SLSA requirements. I do have some observations w.r.t these controls. W.r.t SolarWinds attack, this is my assessment of what would and what would not have helped. Please do correct me so I can better understand this.

|Control             | SolarWinds scenario
|---------------|---------------------|
| Scripted build | Yes (TeamCity)

[2022-04-15 00:06] bobcatfish opened #366 "Provide definition of "builder" or potentially replace with alternative term"
[The SLSA requirements](https://slsa.dev/spec/v0.1/requirements) refer in a few places to the term `builder`, however that phrase is not (yet) defined [in the terminology](https://slsa.dev/spec/v0.1/terminology).

It would be helpful to have this term included in the terminology; however it might be even better (if it makes sense) to replace it with other terms which are less ambiguous such as `pl

[2022-04-15 00:13] bobcatfish opened #367 "Define "trusted control plane""
Another phrase which occurs a few times [in the SLSA requirements](https://slsa.dev/spec/v0.1/requirements) but is not clearly defined (or I haven't found the definition!) is **trusted control plane**.

It would be very useful to have this clearly defined in [the SLSA terminology](https://slsa.dev/spec/v0.1/terminology), especially how it could apply to different systems, for example this phrase w

[2022-04-15 00:18] bobcatfish opened #368 "Update "build as code" requirement to allow for build configuration stored in alternative locations"
The ["build as code" requirement](https://slsa.dev/spec/v0.1/requirements#build-as-code) currently states that build definitions and configuration must be stored in version control, however there may be other ways to meet this requirement.

The spirit of the requirement seems to be that ultimately the definition should still be traceable back to version control but perhaps it can also be met by bu

[2022-04-15 00:22] bobcatfish opened #369 "Request for more detail in definition of "build service""
It would be great to get more detail in the definition of ["build service"](https://slsa.dev/spec/v0.1/requirements#build-service) if possible.

It seems like a hard phrase to pin down - and seems to boil down to 'not a workstation under a developer's desk'. If that really is as well as we can define it, that's fine, but I'm hoping we can be a bit more precise. Maybe the definition has something t

[2022-04-15 00:25] mlieberman85 commented on #369
#365 is related here.

[2022-04-15 13:43] TomHennen commented on #362
I think what's important is that it should also increase the _cost_ to the attacker.  Yes it's still possible that they could subvert some of these controls, but they'd have to spend more of their budget to do so, and have a higher risk of detection.

[2022-04-15 14:08] varunsh-coder commented on #362
I think ephemeral and isolated are good controls. In addition, I do think having basic DNS, network, and file monitoring is also needed for build servers. There is clear evidence that malicious build tools/ dependencies are being distributed and get downloaded onto the build servers.

In terms of cost - some basic attack methods like dependency confusion, it is in some cases easier to do that (jus

[2022-04-15 14:45] laurentsimon commented on #362
The dependencies by the builder itself are reported in the `material` section of the SLSA provenance. So although it may not prevent the attack, it should be retroactively detectable once the attack is discovered.

In general, you're right that we need to limit to a minimum the dependencies of the builder itself

[2022-04-15 16:01] TomHennen commented on #362
I think some aspects of dependency confusion can be resolved by verifying dependencies during the build process against some policy (either full or delegated as discussed in [this blog post series](https://security.googleblog.com/2022/04/how-to-slsa-part-1-basics.html)).

[2022-04-15 16:43] david-a-wheeler commented on #360
There are a billion number of tools for editing diagrams. Options include:

* Old school, but works, is OSS, & has tons of features: LibreOffice (e.g., SVGs).
* Markdown-happy: Mermaid https://mermaid-js.github.io/mermaid

I'm sure we can fill this PR with alternatives :-).

[2022-04-15 17:07] mlieberman85 commented on #368
I think we should clarify it a bit. The intent is to just ensure that the code describing a build has adequate provenance that can be traced back through some process involving approvals, trusted identities etc. However as written I agree that it really seems to indicate only build coming straight from source would count.

I think Tekton Bundles and similar do count as long as you have some way to

[2022-04-15 23:33] varunsh-coder commented on #362
Interesting. what sort of policy would this be, in the sense what attribute/ metadata of the dependency would it verify to look for dependency confusion?

[2022-04-16 11:16] sbs2001 opened #371 "Are SLSA levels self-assessed ?"
SLSA noob here, so maybe it's a stupid question.

From reading the docs I didn't see a tool which could help with determining the SLSA level of some project. So I want to know whether folks just compare their project state with SLSA spec and determine their SLSA level.

[2022-04-18 07:33] lehors commented on #309
@jorydotcom @kimsterv When this issue was discussed on a WG call a while ago I suggested that before a post gets published a heads-up be given to the WG so that people have a chance to have a look. I was surprised by the announcement of the new post made on the call last week. Where does one get to see what's coming up?
Thanks.

[2022-04-18 11:14] joshuagl commented on #306
On "platform" vs "service": Microsoft calls [Cloudbuild](https://www.microsoft.com/en-us/research/publication/cloudbuild-microsofts-distributed-and-caching-build-service/) a "build service".

[2022-04-18 16:11] kimsterv commented on #309
Hey, I saw the post through PR #354 . Are you subscribed to github notifications for the repo? I can also encourage folks to post a link in slack for upcoming blog posts too.

[2022-04-18 16:18] inferno-chromium commented on #309
@lehors - every blog post is reviewed by members of the @slsa-framework/slsa-steering-committee. We want to keep this process lightweight, so the way it happens is an interest community member uploads the blog post in the form of PR and we add the steering committee as reviewer to review it in next couple of days before it gets merged. As @kimsterv said, we can do an additional notification on the

[2022-04-18 17:17] mlieberman85 commented on #309
This seems quite heavyweight to me. I agree if the blog is going to be on the official OpenSSF announcements blog there should be oversight, but I worry about projects not having some autonomy to communicate with their community.

[2022-04-19 05:55] lehors commented on #309
Sounds good. Thanks!

[2022-04-19 06:03] lehors commented on #309
Thanks @inferno-chromium . This is actually the first time I see an active reference to a "steering committee". The discussions around the OpenSSF governance have been leaning towards forgoing such entities until the organization is so big that this kind of additional structure is deemed necessary. I'm interested to know whether something is being overlooked.
Is there a description somewhere of wh

[2022-04-19 06:09] lehors commented on #309
I must admit not to understand. Are you saying that notifying the SLSA WG of an upcoming blog post on the WG's website is heavyweight? What am I missing?
@kimsterv 's response satisfies my request for that matter.
Thanks.

[2022-04-19 09:23] dlorenc commented on #309
The SLSA project has been led by a seven member steering committee since shortly after inception, it's documented here in the README: https://github.com/slsa-framework/slsa#steering-committee

[2022-04-20 00:20] MarkLodato commented on #360
After doing a bunch of research and experimentation, I recommend sticking with Figma. PR #363 fixes the font issue so that we can edit on any browser, and I have another PR coming to further streamline the Figma file.

Among all the [other](https://irosyadi.gitbook.io/irosyadi/app/diagram-app) [options](https://irosyadi.gitbook.io/irosyadi/app/diagram-app), none seem nearly as good. My criteria we

[2022-04-25 19:29] MarkLodato commented on #360
Assuming we're sticking with Figma, this is mostly resolved by #363. The only remaining item is to port the [build model](https://slsa.dev/spec/v0.1/terminology#build-model) diagram to Figma.

[2022-04-28 16:09] joshuagl commented on #360
build model updated in #375

[2022-04-28 16:09] #360 closed

[2022-04-28 17:11] joshuagl commented on #236
Given that the [OpenSSF Charter](https://cdn.platform.linuxfoundation.org/agreements/openssf.pdf) requires Governing Board approval to use a different license for specifications we might consider this a bug, indicating that this is simply a case of implementing the change rather than deciding whether to change.

That would simplify the situation for me, as I am not sure I can fully comprehend the

[2022-04-28 19:25] falcantaralinode opened #377 "SLSA Framewok guidelines should have an option in which you can output it as a spreadsheet"

[2022-04-28 19:29] tmsteen commented on #371
I am not sure there is a tool that would provide enough coverage to provide an automated assessment in a broad sense. That being said, the requirements are much more detailed that you see from frameworks like the NIST CSF of CIS Controls.

Another option is to have an external entity attest to the alignment against SLSA requirements is self-assessment is not rigorous enough.

[2022-04-28 20:13] shaunmlowry commented on #277
We found another case for breaking hermeticity - CRL checking.  Unless your build process uses a CRL service (and, by implication,  complete PKI) which is wholly under your control, downloading source code and/or artifacts from within your build infrastructure over channels secured with e.g. HTTPS necessarily requires contacting a CRL service to validate trust in the serving entity.

[2022-04-29 15:02] dlorenc commented on #309
FWIW I like the original goal as you stated, and think it's not worth giving up on yet. It can be made more clear in the blog itself, the contribution documentation and process for reviews.

[2022-04-29 15:28] inferno-chromium commented on #309
Probably at the end of blog post, and we should also add the point that we have tried our best to review content and incorporated reviewer feedback where feasible. @olivekl , can you please help with this footer language.

[2022-04-29 15:44] TomHennen commented on #309
On a related (and somewhat self-interested note) should slsa.dev also consider linking to interesting posts made by others in different venues?  E.g. Where would we link to the GitHub post?

[2022-04-29 17:15] lumjjb opened #378 "Formulation and Pedigree in the context of SLSA"
Created based on discussions in https://github.com/slsa-framework/slsa/pull/376#discussion_r861836404 and https://github.com/slsa-framework/slsa/pull/376#discussion_r861843826

### Definitions from [OWASP page](https://owasp.org/www-community/Component_Analysis):
**Pedigree**
Data which describes the lineage for which software has been created or altered. Pedigree includes the ancestors, descendan

[2022-04-29 17:35] olivekl commented on #309
How about:
"This is a guest post. The views expressed are not official positions of the SLSA community or any parent organization. The author has requested and incorporated reviewer feedback whenever possible, but the opinions presented are the author’s alone."

[2022-04-29 17:46] MarkLodato commented on #378
You can add "provenance" to the list as well:

What SLSA refers to simply as "provenance" encompasses all three OWASP concepts, at least partially. SLSA provenance is the full information of how a software artifact was produced:
- Who produced it
- How they produced it, i.e. what process was used
- What inputs were to that process

SLSA provenance only covers modifications. It does not track "chai

[2022-04-29 19:20] MarkLodato commented on #309
Great. Sent out #379 to add the banner.

What remains is still to update documentation (the contributing guide?) to explain the guidelines for blog posts.

[2022-04-29 19:47] TomHennen commented on #277
My view has been that the process that fetches all the build inputs is _outside_ of the hermetic boundary.  E.g. The fetching is done by some trusted process that is told what to fetch.  That system should be able to check CRLs when downloading code & artifacts.

I'd always figured the hermetic requirement was to isolate the user-defined, potentially very complex, build steps, from the much simple

[2022-04-29 19:53] mlieberman85 commented on #277
This was my understanding as well. I think it might be useful to figure out some things that would examples of hermetic vs. non-hermetic and try and clarify?

For example in the past what I've done is:

1. Build step with network access that only runs source download and has write access to shared storage X
2. Build step with network access that runs dependency install that has read/write access t

[2022-04-29 19:55] inferno-chromium commented on #309
This could be a great item to discuss in the next SLSA bi-weekly. My personal opinion is encourage cross-post, but not repeat the whole content, e.g. https://security.googleblog.com/2021/08/allstar-continuous-security-policy.html. Also, we could ask SLSA community if they would be interested to keep a section of must-reads (via some section in repo's README.md).

[2022-04-30 01:27] lehors commented on #309
I don't think the process needs to be heavyweight. I do think adding a disclaimer pointing out that the post doesn't imply consensus from the whole WG is a good step. You could also have some indication on the main blog page making it clear that the posts are from "SLSA WG members" rather than the SLSA WG as a whole. I think this can be achieved by adding under the title "Blog" something like "Pos

[2022-05-06 19:09] jorydotcom commented on #266
Hello! Yes, feel free to assign. I will put this on my task list for next week! ty!

[2022-05-09 02:19] kimsterv commented on #236
The one thing we need to do before switching to this license is align the current SLSA governance with the new proposal. SLSA is a project under a WG with its own steering committee. We can sort this out on #https://github.com/swinslow/slsa-governance/issues/4

[2022-05-09 14:09] dn-scribe commented on #362
Hi,
I'm not sure this is the right place, but I'll give it a shot;
[Above](https://github.com/slsa-framework/slsa/issues/362#issuecomment-1098226347) @mlieberman85 qouted the following from the standard:

Reasoning: This only allows a “bad” build to falsely claim that it produced a “good” artifact. This is not a security problem because the consumer MUST accept only “good” builds and reject “bad”

[2022-05-10 20:37] MarkLodato commented on #274
Here's Twitter ([link](https://twitter.com/allanfriedman/status/1524070438703448069)). Not bad, but we should prefix the tagline with "SLSA:".

![image](https://user-images.githubusercontent.com/58860/167717480-3984ee6f-4a1d-4cc0-91f5-256707b90606.png)

[2022-05-11 05:03] d1vyank opened #380 "Does any SLSA level help defend against trojan horse attacks on compilers"
My question specifically relates to preventing the well-known attack on compilers described in Ken Thompson's Reflections on Trusting Trust [lecture](https://www.cs.cmu.edu/~rdriley/487/papers/Thompson_1984_ReflectionsonTrustingTrust.pdf).

As far as I can tell, the SLSA [threat model](https://slsa.dev/spec/v0.1/threats) does not include compromised compilers. [Detecting](https://dwheeler.com/trus

[2022-05-11 05:26] mlieberman85 commented on #380
SLSA will probably explicitly have guidance around this in the future. However, for now there's other issues that make the scenario you described not the bottom of the chain. What if the OS you use is compromised, what if the hardware is compromised. With that said there's also not a lot of tooling today that does allow for the building of software using different compilers and get similar results

[2022-05-11 06:04] dn-scribe commented on #362
Thanks for the prompt responses.

Sorry, but I'm not convinced;

The assumption behind "service generated provenance" is that user-script generated provenance is not trustworthy enough.

An attacker that can determine the artifact identity will find something evil to do with this capability.

Examples:

* Assuming @MarkLodato third case: somehow causing the official workflow to produce a bad artif

[2022-05-11 11:25] d1vyank commented on #380
Agree that there are currently no good ways to detect compromises in the compiler/OS/hardware parts of the chain (and thanks for the pointer to Trustix).

Happy to submit a PR to start documenting guidance on these limitations for SLSA users, if it helps!

[2022-05-11 14:12] 06kellyjac commented on #380
SLSA is generally any software artifact and increasing the trust in it so you should gain more confidence that between src -> result your artifact wasn't compromised. But then the question becomes, what about the artifacts I used to build the artifact.

nix (+ trustix) is very nice for this since you end up with a graph of every artifact used to build your artifact

Outside of nix if you wanted to

[2022-05-11 14:22] MarkLodato commented on #380
I think an actionable item for this bug is to update the threat model to include compromised build tools. We should spell out explicitly how SLSA does and does not help with this. In particular, this is partially a question of transitive SLSA (applying SLSA recursively to build tools can help reduce the threat) and partially a question of scope (SLSA only covers some threats, not all).

[2022-05-12 17:38] shaunmlowry opened #382 "Consider wording and level for Reproducibilty requirement"
Some ecosystems struggle to produce bitwise-identical artifacts for multiple runs of the exact same toolchain ([discussion](https://docs.google.com/document/d/1ZUchp6wY-wBwTScASL748kY7guUazvQdLZ8_r0XJWg8/edit)).  We should consider the wording of the requirement for reproducibility and the SLSA level at which it sits for SLSA v1.0.  Specifically, we should consider if there are alternatives to rep

[2022-05-16 18:54] MarkLodato opened #384 "Project Roadmap, May 2022"
This issue tracks acceptance of [Proposal 2: Project roadmap, May 2022](https://github.com/slsa-framework/slsa-proposals/blob/main/0002/README.md).

If you have any questions or comments on the plan, feel free to add them here and I can respond or update the roadmap. Pull requests also welcome.

I suggest that we accept the roadmap in about a week if there are no significant concerns.

[2022-05-18 10:42] joshuagl commented on #384
Pinging @slsa-framework/slsa-steering-committee to review the [proposed project roadmap](https://github.com/slsa-framework/slsa-proposals/blob/main/0002/README.md) and raise discussion items here.

[2022-05-18 19:19] david-a-wheeler commented on #384
Pushing towards a "1.0" release is in general the right move. I have a few thoughts:

* removing undefined requirements is *definitely* the right move :-). Define or remove!
* "the controversial two-party review requirement" - I'm sad about this one. This would be crazy at SLSA 1 & 2, but it's currently at 4. Would it make sense to reduce to "at least 50% two-party review" at SLSA 4? That's what t

[2022-05-18 20:23] kimsterv commented on #384
This looks great to me! I can think of more stuff we'd want to add but without owners I think it get noisy fast. If I had to pick one thing to add it would be something around certification.

[2022-05-19 16:50] joshuagl commented on #382
Thanks for raising this, I certainly think it's worth some thought – achieving reproducible builds for large pipelines of diverse inputs is non-trivial. The ActiveState case must be close to the extreme example :-)

I don't have anything concrete to suggest yet, but in the interest of stimulating the discussion I believe the first question we should answer is: what security properties are reproduc

[2022-05-19 17:08] david-a-wheeler commented on #382
Fundamentally, verified reproducible builds eliminate the need to have total trust in any one build system. Verified reproducible builds mean that an attacker had to subvert *all* the verifiers OR it's okay, *and* that users with source code can even re-perform the verification themselves. Attacks on build systems are not an idle concern, see SolarWinds' Orion.

@joshuagl - it's not insane, it's e

[2022-05-19 18:49] tracymiranda commented on #384
Great to have a roadmap! +1 for the idea of a community blessed/peer-reviewed specification. Also would be great to see some form of badging program or way oss projects can highlight their slsa status.

[2022-05-23 13:01] MarkLodato commented on #382
I agree that this needs more clarification. Here's a dump of thoughts.

For the question of whether reproducible builds is possible in various scenarios, my suggestion is to handle the non-deterministic pieces as yet another input to the build, which we have to trust. So:

* Attached signing (e.g. Authenticode)
  * Model as two separate builds.
  * First build is the unsigned binary, which is full

[2022-05-23 13:39] MarkLodato commented on #368
I think your refinement is an improvement. I have no problem with "derived". It could probably use another sentence explaining what "verifiably derived" means, i.e. that it's either fetched directly through a trusted channel or it has some trustworthy provenance chain linking back to version control.

[2022-05-23 17:02] joshuagl commented on #368
Thanks Mark, I've submitted #386 to capture the refinement proposed here.

[2022-05-23 19:44] MarkLodato opened #387 "VSA: should reference input attestations"
The Verification Summary Attestation should list the input attestations that it used as inputs to the decision. This gives us traceability and repeatability of the process.

I'm thinking something like:

[code]

@TomHennen thoughts?

[2022-05-24 12:03] MarkLodato commented on #362
@dn-scribe, sorry, no, I disagree. Those examples are all things where the consumer does the wrong, insecure thing. They should only accept things by verifying against some policy. I think this will all become more clear once we have concrete prototype implementations.

[2022-05-24 14:20] TomHennen commented on #387
I think we'd need a compelling use case.

Some thoughts

1. It will make the VSA larger and some verifications might involve a lot of attestations.  I suspect we'll have storage limitations in some places where attestations are stored so this could be an issue.
2. Would it be a list of all the attestations _presented_ to the verifier or just all the attestations the verifier _used_ to make it's de

[2022-05-27 16:50] eliaslevy opened #388 ""Identifies entry point" provenance requirement appears redundant"
PR #141 introduced a *Identifies build instructions* requirement at L1+ that states:

Meanwhile, the *Identifies entry point* requirement, which applies at L3+, states:

The later is just a refinement of the former. The redundancy is somewhat confusing. It may be clearer if *Identifies entry point* were folded into *Identifies build instructions*, stating that for L3+ the build instructions must b

[2022-05-31 07:51] #368 closed

[2022-06-02 13:32] sergiomarotco opened #389 "Need mitigation for Compromise package repo threat"
![image](https://user-images.githubusercontent.com/29877074/171640951-bac2fc99-3f7b-46fa-9691-df270f5b92b0.png)

For example:

React to:
1. suspicious artifacts in the artifact repository;
2. suspicious actions with artifacts;
3. information from the Internet about the compromise of the package used in the company;
4. detection of signatures of static code analyzers for the presence of backdoors a

[2022-06-03 10:39] ThomasOwens commented on #389
What type of package repository is this? It's pretty broad.

If the package repository is a public (or otherwise externally controlled) repository, then a mitigation would be for the developing organization to stand up their own package repository, control what packages are put into it, and control access to the repository. This also shifts the threat to the second kind - a private, internally con

[2022-06-03 17:20] david-a-wheeler commented on #389
Many private repos *mirror* selected packages from a public repo (e.g., "these are the packages I trust, and I'm mirroring them to ensure they're available). So in many cases that isn't enough.

Subverted repos are indeed a thing, it's happened many times.

Other countermeasures include:

* Require signing by developers *before* sending to repo - now the repo doesn't have the private keys necessar

[2022-06-07 13:16] joshuagl commented on #321
Agree that we should label these as best effort at SLSA level 3.

Completely agree with 2 & 3. Given that GitHub provides a limited set of operating systems, I'm somewhat wary of completely disallowing self-hosted runners. If someone needs to build on CentOS, I'd rather they do it on GitHub with a self-hosted runner than on a poorly managed Jenkins instance. Are the existing Ephemeral and Isolated

[2022-06-07 15:01] laurentsimon commented on #321
yes. One caveat is what ephemerality means. If you use a self-hosted runner on a k8 cluster (https://github.com/actions-runner-controller/actions-runner-controller), you may be scheduling pull requests and release workflows on different pods, but on the same physical machine (GKE). Escape are not uncommon, especially for file-system reads (where k8 secrets are stored). Many things can go wrong.

[2022-06-07 15:15] mykter commented on #377
More generally it would be handy to have a machine readable form of the requirements. These could be used to generate the markdown tables in the spec.

[2022-06-07 15:17] mlieberman85 commented on #377
This shouldn't be too hard if we used something like OSCAL. https://github.com/usnistgov/OSCAL

[2022-06-08 14:40] joshuagl opened #394 "Clarify (and scope?) "policy" as referenced in provenance format specification (v0.2)"
The [v0.2 provenance format specification](https://slsa.dev/provenance/v0.2) states that [`invocation.environment`](https://slsa.dev/provenance/v0.2#invocation.environment)  are usually _"not evaluated as part of policy"_.

Per the discussion in https://github.com/slsa-framework/slsa-github-generator/issues/196 the "original intention of "policy" was to ensure that the package was built from the i

[2022-06-09 15:11] joshuagl opened #396 "Provenance: more guidance and examples on customising and extending SLSA provenance in adoptions"
The spec is extensible by default, both by having several fields which are "arbitrary JSON object with a schema defined by `buildType`." (invocation.parameters, invocation.environment and buildConfig), and through the [parsing rules](https://slsa.dev/provenance/v0.2#parsing-rules) explicitly defining how to add extension fields:

It would be useful to adopters to provide some more guidance/example

[2022-06-09 15:14] joshuagl commented on #396
For examples, listing/linking to adoptions – public examples of systems that can generate SLSA provenance – might be a useful start?

Some I know of:
* Tekton via the Chains project: https://github.com/tektoncd/chains/blob/main/docs/intoto.md
* slsa-github-generator: https://github.com/slsa-framework/slsa-github-generator/blob/main/PROVENANCE_FORMAT.md

[2022-06-09 16:12] jasonlutz-chainguard commented on #341
Hi Melba, I am currently working on mapping SLSA to multiple frameworks.  I am hoping to share that with a workgroup.

[2022-06-09 16:15] melba-lopez commented on #341
I had shared an initial spreadsheet with another company that could also be an artifact to help other folks do their own mapping in more detail.  We can alter it in the workstream and make sure its consumable by the majority :)

[2022-06-09 23:39] samwhite-gl opened #397 "Clarify `predicate.invocation.parameters` can point to the source of the parameter"
## Background

Many builds require secrets to be fed into the build job as parameters.  Exposing the values of these parameters directly in the attestation could create a security risk.

Currently the wording of the [Includes all build parameters](https://slsa.dev/spec/v0.1/requirements#includes-all-params) SLSA requirement does not make it clear whether it is necessary to include the value of the

[2022-06-09 23:40] samwhite-gl commented on #397
@mlieberman85 would you mind reviewing this proposal?

[2022-06-10 13:55] joshuagl commented on #397
Note: `invocation.parameters` is "an arbitrary JSON object with a schema defined by `buildType`.", therefore it's perfectly reasonable for a build service to define a schema which makes sense for them here. I raised an issue suggesting we provide more guidance for `buildType` specific scheme and general extensibility of the provenance schema: https://github.com/slsa-framework/slsa/issues/396

[2022-06-16 19:08] melba-lopez commented on #309
Hi @MarkLodato I agree with the documentation the process for blogs but could not find it.  I was trying to understand the guidelines/decision making process as I was confused.  I would be glad to help with this.

However, looking through this discussion I'm a bit confused on the intent of the blog.   Anyone can post their thoughts on SLSA on their blog, website, social media etc.  Same for any co

[2022-06-16 20:11] inferno-chromium commented on #309
We support 2 kinds of posts:
1. Official Post - Comes from full community concensus and showcases work from WG - https://github.com/slsa-framework/slsa/pull/398
2. Guest Post - Comes from community members but still gets review from atleast 2-3 steering committee members - https://slsa.dev/blog/2022/04/slsa-is-no-free-lunch
Guest posts also have a banner at bottom explaining this - "This is a gues

[2022-06-17 01:56] melba-lopez commented on #309
Thanks for clarifying @inferno-chromium.  To explain a bit more, I did not mean to suggest anyone can post without review, so apologies for any confusion.  It was more so, guest posts appear to be more appropriate for the guests' social media feed versus a community feed.

I do see the "fine print", but a concern would be that most folks would not see/read that, just like the fine print at the bot

[2022-06-17 14:39] inferno-chromium commented on #309
Very happy to hear your thoughts. Can you please add an agenda item for next SLSA community meeting to discuss. Also, see if you can propose this change via a PR. That addition of prexies/suffixes in author list to make it clear seems ok to me. As always, we would love for you to join steering committee and contribute to SLSA/review these posts.

[2022-06-17 19:33] MarkLodato commented on #309
"Guest post by" vs "Official post by" (or something like that) sounds like a good idea to me. Thanks!

If you all think that the "guest" vs "official" distinction isn't too meaningful in practice, I'm also open to dropping that.

[2022-06-18 07:13] nris-jingu commented on #371
You may see the compliance matrix by DevOps tool vender. It seem to help self-assesment.

https://about.gitlab.com/solutions/supply-chain/

I think that it's difficult to assess automatically.

[2022-06-21 21:05] shaunmlowry opened #401 "Provenance: add optional URI and digest for build logs"
Currently, the spec for predicate metadata includes:

Seems like logs are useful not just for debugging, but also for verifying the actions laid out elsewhere in the attestation were actually those taken.  I'd like to suggest that logs get special treatment in the metadata section such that they include a URI and a digest similar to other referenced objects, e.g.:
[code]

[2022-06-21 21:23] joshuagl commented on #387
In the proprietary software case, the attestations would (should) still exist and therefore can be referenced in the VSA, even if they are not shared with the VSA consumer. Listing them even when not available is valuable for internal producers and consumers of the VSA at the VSA producing organisation and in the oft imagined scenario of third party auditors verifying claims.

[2022-06-21 21:31] joshuagl commented on #191
Good summary, it matches my understanding too. Thanks.

Recommending signing feels out of the scope of SLSA. On the requirements around signing keys specifically, perhaps we should move that to a separate issue and close this one (to improve the signal to noise ration on clarifications).

We do not want to implicitly require signing through our requirement that any secrets involved in providing au

[2022-06-21 21:47] trishankatdatadog commented on #191
Let's get back to that issue on specifying which signing keys for which functionaries!

[2022-06-21 21:50] joshuagl commented on #401
Great discussion topic. AIUI the provenance specification does attempt to ensure that there's enough information captured to verify the actions taken. This might be implicitly through `invocation.configSource` and the repository it describes or explicitly through `buildConfig`.

Do you think that logs would provide additional information for verification on top of the above? Would this verificatio

[2022-06-22 14:07] MarkLodato commented on #387
I was thinking this would be an optional (but recommended?) field. In cases where it's valuable, you can record it. In cases where it's undesirable, it's OK to omit.

[2022-06-22 14:40] MarkLodato commented on #401
I believe the goal is to aid in debugging and auditing. I've heard from others that it is valuable to link to "evidence" of the attestation, where logs would be perhaps the most common form of evidence. This is similar to the original in-toto [link format's](https://github.com/in-toto/docs/blob/v0.9/in-toto-spec.md) `byproducts`: other outputs that are not the main output of the build.

I'm open a

[2022-06-22 15:04] joshuagl commented on #387
Optional but recommended seems reasonable. I do think we should recommend inclusion.

[2022-06-22 19:24] naveensrinivasan opened #403 "community : Contributor ladder"
## Description

I am opening this to ask if there's a contributor ladder defined for slsa-framework.

### How do I become an org member?

I would be happy to help do PR's reviews here, hoping to work towards maintainership.

1 . https://github.com/slsa-framework/slsa-github-generator-go/pull/54
2. https://github.com/slsa-framework/slsa-github-generator-go/pull/52
3. https://github.com/slsa-framewo

[2022-06-22 21:57] shaunmlowry commented on #401
Exactly.  This is useful when doing either a preventative or diagnostic forensic investigation of the claims made in the attestation.  It's even more useful if the logs are non-falsifiable hence the suggestion of adding a digest for them.

The metadata field seems not to be one of the explicitly extensible fields.

I'd really like this to be a field that contains both the URI and DigestSet.  Maybe

[2022-06-23 21:32] swinslow opened #405 "Migrate to Community Specification license and governance"
(This is a follow-on from #236 -- following from conversation with @kimsterv yesterday, thought that it might make sense to open a new issue thread with the updates.)

As previously discussed by the community and reflected in [the OpenSSF charter](https://cdn.platform.linuxfoundation.org/agreements/openssf.pdf) section 5(a)(iii), specifications under OpenSSF should use the [Community Specification

[2022-06-24 14:28] laurentsimon opened #406 "Dependency maintenance updates"
As part of the development we're doing in https://github.com/slsa-framework/slsa-verifier and https://github.com/slsa-framework/slsa-github-generator, we need to keep our dependencies up to date.
We currently use dependabot, but it has some limitations. For example, we cannot update dependencies "in batch" and we need to LGTM each PR individually. This is time consuming.

There is an alternative:

[2022-06-24 14:50] inferno-chromium commented on #406
Forking renovate is renovatebot with restricted perms (read only, no write). I know this is used actively in several orgs i know. I am fine with this. What do other @slsa-framework/slsa-steering-committee think ? Individual repos under slsa org can still choose whichever deps update solution they like (we recommend both of these in Scorecards), but for rapidly changing ones like slsa generator/ver

[2022-06-24 15:28] laurentsimon opened #407 "Rewrite the "get started page""
As part of https://github.com/slsa-framework/slsa/pull/399#discussion_r902126390, it came up that the page should be re-written

[2022-06-27 13:23] #406 closed

[2022-06-27 13:45] kimsterv commented on #405
This looks good to me. @slsa-framework/slsa-steering-committee can you please review? Once we have consensus on approval, we can transfer this repo over.

[2022-06-27 17:02] joshuagl commented on #405
Thank you for working on this @swinslow. Overall this looks like a good starting point to me.
I have a few clarifying questions and requested changes, a couple of minor nits we might want to fix (but could be handled as follow-on changes), and a few areas for clarification that we (the SLSA team) can handle.

Clarifications and requested changes:
* 4.1 of [Governance](https://github.com/swinslow/s

[2022-06-27 17:16] joshuagl commented on #403
Hi Naveen. We don't yet have a contributor ladder defined, but we are working on formalising our governance and I'd like to see a contributor ladder defined in future.

Maintainer status is currently handled on a per-project basis, so I think the question of becoming a maintainer of slsa-github-generator and slsa-verifier would be handled by the maintainers of those projects. AIUI more maintainers

[2022-06-27 17:48] inferno-chromium commented on #403
+1. Discussions are already happening in https://github.com/slsa-framework/slsa/issues/405 and this should get resolved in near future.

for those 3 repos, are those contributions sufficient enough to be added as maintainer. @ianlewis @laurentsimon @asraa - thoughts?

[2022-06-27 18:38] swinslow commented on #405
Thanks for the comments @joshuagl! A few thoughts on these:

Understood. I was using "workstream" throughout the document in a somewhat informal sense, but yes, can certainly change this to reflect SLSA's practices.

Would you be good with that if 4.1 is updated to say "Pull requests will be merged upon Approval of the applicable Maintainers." ?  Or we could say "...upon Approval of the applicable

[2022-06-28 00:23] ianlewis commented on #403
Hi!

The Kubernetes contributor ladder for reference:
https://github.com/kubernetes/community/blob/master/community-membership.md

@naveensrinivasan I discussed with @laurentsimon. For now, if you would like ownership to slsa-github-generator/slsa-verifier could you submit a PR to each repo with an "application" adding yourself to OWNERS and some links attesting to the items below in lieu of a for

[2022-06-28 16:22] joshuagl commented on #405
"Pull requests will be merged upon Approval of the applicable Maintainers." feels right to me

So it is. This is why we should try to avoid taking breaks mid-review. That all makes sense and matches my expectations, thanks Steve.

Got it. I think we can just handle this on the SLSA side once the underlying repo is established.

Thanks for explaining, that matches my expectation but good to confirm

[2022-06-28 18:42] swinslow commented on #405
OK -- fixed in https://github.com/swinslow/slsa-governance/pull/7

[2022-06-29 10:03] joshuagl commented on #405
Thank you @swinslow.

Let's give some other members of @slsa-framework/slsa-steering-committee time to review.

[2022-06-29 16:55] MarkLodato commented on #405
This looks really good. Thank you, @swinslow!

Two questions:

1. Regarding the [Specification Development Process](https://github.com/swinslow/slsa-governance/blob/main/5._Governance.md#4-specification-development-process). Right now the specifications are embedded as part of our website. Every time we merge into `main`, it gets automatically published on the site. We nominally mark new version a

[2022-06-29 17:02] joshuagl commented on #405
GitHub have a feature for this now. Project admins can mark DCO as required in the settings and the web UI will automatically fill it in https://github.blog/changelog/2022-06-08-admins-can-require-sign-off-on-web-based-commits/

[2022-06-29 17:33] swinslow commented on #405
Thanks @MarkLodato!

For your first question, I think it's fine to continue to have it auto-publish to the site. I do think it would be helpful to have a mechanism which clearly indicates whether a particular version has been officially released as an "Approved" version of a spec -- essentially the same as tagging a specific commit as a particular released version of a software repo.

This is beca

[2022-06-29 19:53] melba-lopez commented on #384
Hi @MarkLodato .. speaking with @lumjjb today and he mentioned a new WG spinning up for this.  Would love to collaborate on the definitions.  Do you have meetings setup yet for this?

As we are suggesting SLSA to enable folks on their supply chain security journey, there are concerns with removing/condensing some of these requirements;  especially when they map to SSDF/WHEO.  We know companies (in

[2022-07-01 16:36] joshuagl commented on #401
Thanks both for articulating the need. Thinking of some of the other predicate types we've observed in the wild (see https://github.com/in-toto/attestation/issues/98) I can picture this being in the statement layer.

For example, a vulnerability attestation might include only a high-level reporting with the `evidence` linking to the full scan results.

[2022-07-01 21:20] seaylg commented on #384
Hi @MarkLodato, Thank you for sharing your thoughts.  I agree with @melba-lopez and also wanted to add the following concerns with removing source integrity and common security:

- Source requirements ensure source integrity and I'm not sure how we can ensure build integrity without some level of due diligence at the source and still meet the objective of safeguarding the software supply chain.

-

[2022-07-02 16:13] mlieberman85 commented on #384
@seaylg @melba-lopez you both bring up good points that I think we should address.

To give you some context based on some of the conversations we've had thus far, we've been trying to strike a balance for v1.0. We have been trying to focus on requirements and specification for the big gaps. For example, the big gap SLSA was trying to fill first was "provenance." When it comes to supply chain secu

[2022-07-05 02:03] melba-lopez commented on #384
Thanks for that history @MarkLodato!  Fully get where you are coming from.  Definitely want to make it easy for people to consume.  I'm going to try to map SLSA to this framework I've created (see attached). This will be for another time, but the goal is to make sure we show people what's covered and whats not.

Hypothetical question:  Can a person just achieve SLSA4 with a ton of vulnerabilities

[2022-07-05 02:13] melba-lopez commented on #309
Not sure how to see a list of issues i've commented on (i tend to lose them and takes me forever to find them again) I did add this to the agenda for next time.  Thanks @inferno-chromium @MarkLodato!

[2022-07-05 02:20] mlieberman85 commented on #384
This is awesome stuff and I look forward to watching your talk once OSS publishes it to youtube. This is a really good diagram that aligns with my mental model at least.

To answer your hypothetical (to be clear this is just my opinion): SLSA helps answer questions like "did I perform SCA on what I built?" SLSA is useful in helping you built out that chain of custody from code to artifact, but sho

[2022-07-05 09:15] joshuagl commented on #309
Aside: you can find issues you've commented on with a query of `commenter:<username>` in the GitHub Issues search box, i.e.: https://github.com/issues?q=is%3Aopen+is%3Aissue+commenter%3Amelba-lopez

[2022-07-05 21:10] swinslow commented on #405
Chatting with @kimsterv, sounds like we're all set to move this over! I've migrated the repo to https://github.com/slsa-framework/governance.

Will go ahead and close this issue. Thanks all for your help in reviewing this!

[2022-07-06 04:33] JanZerebecki commented on #384
I'd like SLSA to suggest that this be implemented via verified reproducible builds. Which would prevent the build from being compromised unless the builder and most of the verifiers are compromised in the same way.

Generally for SLSA 1.0 I'd really like for it to at the highest level to only consist of requirements that are independently end-to-end machine verified. @MarkLodato Is that acceptable

[2022-07-06 09:58] joshuagl commented on #405
FYI for folks following along, I've filed Issues on the new slsa-framework/governance repository for the follow-on items I suggested:
* https://github.com/slsa-framework/governance/issues/8
* https://github.com/slsa-framework/governance/issues/9
* https://github.com/slsa-framework/governance/issues/10

[2022-07-06 19:18] MarkLodato commented on #384
Thanks, all! For this issue, are there any concerns with the [roadmap](https://github.com/slsa-framework/slsa-proposals/blob/main/0002/README.md) itself? If so, could you suggest specific changes? For example, if the current language makes it sound like removing source requirements has already been decided, should we change that to make it more clear that that is simply something being considered?

[2022-07-07 15:21] MarkLodato commented on #266
Friendly ping. Is the plan to use an existing OpenSSF Netlify account, or to apply for a new SLSA one under the open source program?

[2022-07-07 15:22] melba-lopez commented on #384
Thanks for that link @MarkLodato I was looking for the roadmap and could not find it.  I will look through it.  The only thing I did just notice is that we are already past mid 2022, so not sure if that changes the priority levels.

[2022-07-07 16:02] shaunmlowry opened #414 "SLSA should not implicitly require digital signatures"
Raising a new issue as per https://github.com/slsa-framework/slsa/issues/191#issuecomment-1162388651

It appears that digital signing of attestations is almost impossible to avoid at SLSA 2+ even though the wording of the requirements seems to want to allow other forms of verification:

at SLSA2 and then:

The provenance signing key MUST NOT be accessible to the environment running the user-define

[2022-07-07 17:52] mlieberman85 commented on #371
Sorry, this issue appears to have fallen through the cracks there. So currently SLSA is self assessed, however there is nothing to stop a third party audit firm  or tooling to do the assessment for you. It's up to the consumer though to validate those certification. e.g. if audit person X says that your automated assessment done via tool Y is suitable for SLSA 3 builder certification then the end

[2022-07-08 14:26] naveensrinivasan commented on #403
A friendly ping! It's been 16 days since I opened the issue. Are there any blockers?

[2022-07-11 12:52] #414 closed

[2022-07-11 15:08] abacchi opened #418 "Clarify provenance generation - every step of the pipeline?"
_Raised from discussion in the community meeting - July 7th 2022._
**SLSA provenance generation - Should it be generated for every step of the pipeline, or just if an artifact is produced in that step?**

In-toto generates/verifies every step.

Jacques: Is there a step we don’t care about? (Reverse!)
What steps DO we care about (Reverse reverse!)?
E.g., every build & every test should produce an a

[2022-07-11 17:15] krol3 commented on #371
@mlieberman85 I opened an issue, please add your comments about this topic. https://github.com/aquasecurity/chain-bench/issues/63

[2022-07-12 00:26] laurentsimon commented on #403
Hey @naveensrinivasan yes please review 10 PRs as suggested by @inferno-chromium  and take a feature you'd like as "onboarding" to familiarize yourself with code (can chat offline), then we can add you as maintainer. Does that sound reasonable? We can continue the conversation on individual repos.

[2022-07-12 00:34] naveensrinivasan commented on #403
Sounds good! Thanks

[2022-07-12 11:37] joshuagl commented on #350
This guidance looks great to me, definitely a good start. I'd like the recommendation to list the base image/inventory of the build worker to be a bit stronger (in my experience, the build environment is captured by a build more often than most people recognise). I'd make the following two edits:

[2022-07-13 08:36] JanZerebecki opened #421 "require verifiable version of two-person review at higher level"
Like the current "Two-person reviewed" but:

Reviews are signed by a personal key and included in the history. The history must be secured by a cryptographic protocol (e.g. chained hash like in git, transparency log).
There is a mechanism for recording in the history that two keys belong to the same person. A verifier implementation uses this information to check that the Two-person review require

[2022-07-13 20:25] MarkLodato opened #423 "Consider removing "optional" requirements"
Feedback received from a customer: the "optional" requirements add confusion because it's not clear how to use them. If they are optional, why are they listed as requirements at all? And why are they listed as optional for some levels but not all?

For v1.0, I think we should consider whether they continue to make sense in the spec. If the intent is to nudge or recommend things, perhaps there's a

[2022-07-14 17:57] JanZerebecki commented on #384
Seems like the list of work streams is here: https://docs.google.com/document/d/1L1gEJMBIvE0IbpFi23FOUByDYlItSYPPJmKdhvJQYsg/edit

And the relevant stream seems to point for the discussion to:

I'm not in Slack (haven't received a reply to that ticket, yet), but joined the mailing list.

Please explain your concerns, so I can respond. It is probably better to do that in the relevant ticket https:/

[2022-07-14 20:56] melba-lopez opened #424 "Create SLSA Standard Security Procedures"
As a subgroup of OpenSSF, we must think about security first and foremost.  I am recommending creating a standard for all of SLSA repositories, builds, and scanning.  I know we won't get here overnight, but would be good to get started on some low hanging fruit!  @slsa-framework/slsa-steering-committee

**Proposal:**

- All Repositories must include open source Source Composition Analysis tools to

[2022-07-15 17:59] MarkLodato opened #425 "Clarify mapping between provenance and requirement specifications"
Currently it is unclear how the [provenance spec](https://slsa.dev/provenance/v0.2) maps to the [requirements](https://slsa.dev/spec/v0.1/requirements).

* How is a builder expected to populate the provenance at each level?
* What exactly is a verifier expected to check at each level?
* How do the Source requirements fit in?

At a high level, I think we need to do two things:

1. Use consistent te

[2022-07-15 19:42] laurentsimon commented on #425
Maybe also worthwhile thinking about separating the requirements from the service (isolation, ephemeral, etc),  the developers (reproducible, hermetic) and the consumers  (verification, point 3 in the description).

Developer need support from the builder, but it's up to developers to make their build setup to satisfy the L4 requirements. Since these requirements are intended for different differe

[2022-07-15 20:35] jeffmendoza commented on #424
Allstar can be configured to enforce branch protection with 2+ reviews, and also the security policy check.

For anything that can be programatically detected, we would like to add to Allstar as a policy. Especially the first three, if there is an expected config file/workflow that we can look for, we can check that it is there and alert if not.

Dependabot can be setup at the org level like so: h

[2022-07-19 21:56] forking-renovate[bot] opened #431 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] Pin dependency markdownlint-cli to v
 - [ ] Update actions/setup-node digest to 2fddd88
 - [ ] Update dependency ruby

[2022-07-20 07:01] justinabrahms commented on #196
Another example of one of these robots is my company has several teams which use a robo-committer to bump versions in their pom.xml files on commit.

[2022-07-26 01:51] ianlewis commented on #403
Also for reference: https://github.com/ossf/allstar/issues/238

[2022-07-26 15:43] naveensrinivasan commented on #403
https://github.com/sigstore/community/blob/34e766c7404696797640f0f3a702bfff9d306eff/community-membership.md

cc @cpanato

[2022-07-26 18:41] MarkLodato commented on #266
OpenSSF does not have an account. I will apply for an open source plan once #447 is submitted.

[2022-07-27 09:50] #323 closed

[2022-07-27 18:53] naveensrinivasan commented on #403
I was able to get my membership in https://github.com/slsa-framework/slsa-github-generator/pull/428 for one of the above.

Thanks everyone!

[2022-07-28 08:01] cpanato commented on #403
@naveensrinivasan let me know where i can help :)

[2022-07-28 18:36] melba-lopez opened #452 "Positioning SIG: Assess additional frameworks in relation to SLSA"
**Objective**: Assess additional frameworks raised in the [7/26 SLSA Positioning SIG meeting](https://docs.google.com/document/d/1tpPOXVzNSwtpWA7cXhTPLAO6HIP50obUvoP85XqgVHM/edit#
).

**Outcomes**:
- Identify common criteria for assessing various frameworks
- Assessing the following frameworks/standards in relation to SLSA
        - [ ] SLSA vs [SCITT](https://www.ietf.org/mailman/listinfo/scitt)

[2022-07-28 19:00] melba-lopez opened #453 "Positioning SIG: Define/Expand Scope and Charter"
**Background:** [ _“Government and industry widely accept SLSA as the lingua franca of supply chain security”_](https://docs.google.com/document/d/1L1gEJMBIvE0IbpFi23FOUByDYlItSYPPJmKdhvJQYsg/edit#heading=h.1hce59kd4nn0)

**Objective**:  Expand on original defined Charter and define scope for the Positioning SIG per [7/26 Meeting](https://docs.google.com/document/d/1tpPOXVzNSwtpWA7cXhTPLAO6HIP50ob

[2022-07-28 20:09] MarkLodato commented on #266
One issue with Netlify is that there is no cap on billing. If we exceed a build time or bandwidth limit, we're on the hook for charges. There are stories of people having to pay in the case of DDoS attacks (bandwidth) or malicious PRs (build minutes).

From my research and testing, here are the four main options:

- [Netlify](https://www.netlify.com/): Best overall, but has this billing risk
- [Cl

[2022-07-28 23:06] shaunmlowry opened #454 "Parameterless requirement for Level 4 prevents re-use of build scripts"
For build systems which are capable of building many millions of individual packages and versions, it's not practical to require that every individual package version has its own unique build script especially if those scripts are the interface between a build service and the native build system for a package's ecosystem.  For example, a build service might have a script which is generically capab

[2022-07-31 10:28] keymaster00 opened #455 "hi"

[2022-07-31 15:54] mlieberman85 commented on #455
This doesn't appear to be an actual issue so I will be closing it.

[2022-07-31 15:54] #455 closed

[2022-08-01 18:01] MarkLodato commented on #454
Should we merge this with #278?

So I understand correctly, are you saying that effectively the only allowed parameters are booleans or enums, not arbitrary strings? (Follow-on question: what about integers? floats? anything else generally considered safe?)

If so, that sounds good to me. (If not, I'll need to first understand.)

[2022-08-02 18:16] MarkLodato commented on #266
The site is currently broken on the "production" Netlify deployment (https://slsa.netlify.app) but not deploy previews (https://deploy-preview-426--slsa.netlify.app/). It also works fine when built locally and on GitHub Pages (https://slsa.dev).

Thankfully, Netlify made it easy to narrow down the culprit:

* 413688d: [works](https://62e13a4100827000090ca0aa--slsa.netlify.app/)
* 71bf46d: [failed

[2022-08-03 09:45] jenstroeger opened #457 "SLSA logo icon"
Hello, based on your [SLSA SVG badge](https://github.com/slsa-framework/slsa/blob/main/docs/images/gh-badge-level3.svg) I created a [shields.io](https://shields.io/) badge

[![slsa](https://img.shields.io/badge/SLSA-level%203-green?logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABMlBMVEXvMQDvM

[2022-08-04 04:46] sergiomarotco commented on #329
News?

[2022-08-05 14:45] MarkLodato opened #459 "Provenance: switch to SPDX?"
SPDX 3.0 is developing a "build profile" that overlaps almost entirely with the SLSA Provenance schema. In other words, SPDX 3.0 will (hopefully) be able to express everything that SLSA Provenance can, but not vice versa.

I'd like us to consider deprecating the SLSA Provenance format in favor of SPDX 3.0, **assuming it meets all our needs**. In practice, this would mean the two communities workin

[2022-08-05 14:46] MarkLodato opened #460 "Provenance v1.0"
This issue is for tracking and building consensus on what will go in the next version of the provenance spec, tentatively called v1.0.

### Current proposal

[Schema changes](https://github.com/slsa-framework/slsa/issues?q=is%3Aopen+is%3Aissue+label%3Aspec-change+label%3Aprovenance):

- #349
- #246
- #401
- #319

[Documentation changes](https://github.com/slsa-framework/slsa/issues?q=is%3Aopen+is%

[2022-08-05 15:33] MarkLodato commented on #459
Actually, before we even look at the specific format, what is the general opinion on this idea? Do you think it is desirable to merge with SPDX? Is it desirable to stay separate? Are any thoughts on the proposed Pros/Cons?

[2022-08-05 16:08] mlieberman85 commented on #459
https://github.com/spdx/spdx-3-model/ - Linking this here so we have something to reference.

Do you know the status of the build profile stuff?

There's also some other concerns.
1. SLSA provenance tends to be a few dozen kilobytes. SPDX docs can be megabytes. If you can pull out the build profile into its own predicate than maybe?
2. The lifecycle of changes to SPDX historically has taken a real

[2022-08-05 16:18] MarkLodato commented on #459
To further clarify my thinking: I am not suggesting a different _approach_ to generating provenance nor adding more data to the provenance. Rather, purely changing the syntax of the same data so that it conforms to SPDX. Or maybe another way to phrase, recommend a very specific application of SPDX such that it looks essentially the same as what we have now.

For example, instead of this:

[code]

[2022-08-05 16:19] MarkLodato commented on #459
Yes, we would be tying ourselves to the SPDX change and release process. I'll add that as a con.

[2022-08-05 17:14] TomHennen commented on #459
Another con is that people have been developing tooling around the existing format.  Would those implementer accept a major format change?  I suppose that's literally what you're asking here. :)

[2022-08-05 20:26] puerco commented on #459
My take would be that SLSA should continue with its own predicate format. Let it capture the cadence and features the community wants and builds.

In parallel, SLSA could provide guidance, updated with each new version, on how to map the SLSA information to the upcoming SPDX build profile and the CycloneDX provenance and pedigree features to create a SLSA attestation with spdx/cdx predicates (if a

[2022-08-05 20:29] TomHennen commented on #459
@puerco, I'm guessing you're suggesting we could even create a tool to generate SPDX build profiles from SLSA provenance?

[2022-08-05 20:31] puerco commented on #459
If guidance to map attributes is properly codified (and equivalents do exist) it should be possible yes.

[2022-08-06 02:37] jeff-schutt commented on #459
I support this idea and encourage continued collaboration and alignment between SLSA and SBOM standards in whatever form it takes, e.g. by directly implementing the SPDX 3.0 Build Profile for SLSA Provenance or seeking compatibility between the SLSA Provenance schema and SPDX/CDX.

[2022-08-06 03:54] stevespringett commented on #459
As others have pointed out, CDX already has support for pedigree, etc, and we’re working on support for formulation (for any supported component type or service). Mapping between SLSA Provenance and CDX should be possible. CDX v1.5 will include formulation support. Historically we release in Q1 or early Q2 every year. But formulation will likely be ratified before then. We’d like to work with the

[2022-08-06 16:35] dlorenc commented on #459
+1 to @puerco and keeping them separate for now.

[2022-08-08 07:10] HyuckjunChoi opened #461 "SLSA provenance generator for Jenkins"
As long as I know, even though a provenance can be generated by using CI/CD like Github-Actions and Gitlab CI, It seems there is no reference or best practice for Jenkins CI yet.

I also checked @MarkLodato's comment regarding several ways to generate provenance.(https://github.com/slsa-framework/slsa/issues/185#issuecomment-946733812)

So we, Samsung Research Security Team are creating the Jenkin

[2022-08-08 14:28] jweisscrypto commented on #341
Is there a way I can become involved in this mapping work? Has a draft been placed somewhere in a repo branch as a .md file, for example, with a pending MR?

[2022-08-08 15:28] melba-lopez commented on #341
Hi @jweisscrypto !!  We have this initial spreadsheet we've been working from.  We haven't added columns yet for the new ones, but feel free to add a column for a spec/framework you don't see!

 https://docs.google.com/spreadsheets/d/1P_xxMlyF5iPV51CqIk8_EhI57aR6wf1Gkrg8sRHBMMQ/edit#gid=0

[2022-08-08 15:52] MarkLodato commented on #459
OK. Among the responses thus far, it seems like the preference is to keep SLSA Provenance but work with SPDX and CycloneDX communities to align the models, such that one can translate freely between the three formats.

@stevespringett I'd love to take you up on that. Would it make sense for us all (SLSA, SPDX, CDX) to jointly come up with a model, rather than independently designing and then tryin

[2022-08-08 16:58] laurentsimon commented on #460
Do we want the provenance to have a URL to download the source code? AFAIK, a git history rewrite makes it hard to recover the source code for a particular commit. Wdut?

[2022-08-08 17:49] MarkLodato commented on #384
Hey folks, it seems like the general consensus is to accept, so I https://github.com/slsa-framework/slsa-proposals/pull/5 to address a few items and mark as accepted. If someone wouldn't mind taking a look and approving, I'd appreciate it.

[2022-08-08 19:57] AdamZWu commented on #387
What is "inputAttestations[].uri" for? Who provides it?

If a policy verifier implementation does not fetch attestations (i.e. the callers are responsible for supplying all necessary attestations), I guess the caller is also responsible for providing the URIs for the attestations? I think that could create a tiny trust-escalation channel -- user-provided data (the URIs) without verification gets s

[2022-08-08 22:15] marcelamelara opened #463 "[Specification SIG] Clarify/refine SLSA source requirements"
As we work to clarify the intent and requirements for SLSA 1-3, several folks have suggested to revisit how source requirements are treated.

One suggestion is to more clearly separate the source requirements from the build requirements, possibly even defining separate source-specific SLSA tiers on top of a core set of SLSA requirements. The main reasoning behind this is that source management and

[2022-08-09 14:21] TomHennen commented on #387
Yeah, I think @AdamZWu makes a good point. It's very difficult to know what URI would actually be used and in many cases if we had a URI it could expose sensitive information that the VSA producer was hoping to protect.

I think auditing could likely be handled better by logging the data used to produce the VSA in some internal database (perhaps a transparency log).  Then all the data is readily a

[2022-08-09 17:08] stevespringett commented on #459
@MarkLodato depends on what you mean by a model. CDX formulation is a superset of the SPDX build profile from what I can tell and I would imagine the data models are very different as a result However, I think a common abstract model would be beneficial to everyone and I'd be happy to contribute to it.

[2022-08-09 18:06] melba-lopez commented on #453
**Brandon -** Evaluation of slsa against other evaluation efforts, to better inform the specification and tooling.

[2022-08-09 18:29] melba-lopez commented on #452
(Brandon) Define the objectives of evaluating

Should SLSA increase/decrease scope?
How does SLSA work with other frameworks? _(informing/assisting organizations on what frameworks to choose)_
Is there overlap in SLSA with other frameworks?
Is there deficiencies/out of scope SLSA items with relation to other frameworks?
Map to the specs (SLSA spec - source l1 = SSDF control PW1.X)
Capture use case

[2022-08-09 18:59] MarkLodato commented on #387
I don't know of a use case for `uri`. I'd slightly lean towards keeping it (but optional) to mirror the format of `materials` in Provenance, but I don't feel strongly.

If it's stored externally, how do we know that the logs actually apply to the VSA? Wouldn't we need to include some sort of hash in the signed VSA?

[2022-08-10 02:45] melba-lopez commented on #463
These are just a few items I think of when I think of source integrity and the system the houses code.  I don't think we need to duplicate what these frameworks state, but it is something to consider when designing for what SLSA requirements should be.

 https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-218.pdf

![image](https://user-images.githubusercontent.com/101211710/183794584

[2022-08-10 07:15] HyuckjunChoi commented on #461
@mlieberman85, Yes, it is an open source. We just finished a draft version. Now we are working on testing a generator and creating a how-to guide.

And we are looking for a proper repository to contribute.
I think it would be better to create a repository in "github.com/slsa-framework" like the Azure DevOps SLSA provenance generator(https://github.com/slsa-framework/azure-devops-demo) to collabora

[2022-08-11 03:42] laurentsimon commented on #457
That would be great. I created the original icon by using shields.io, but I did not know it was possible to donate the icon :) Are you involved with shields.io?

[2022-08-11 05:45] jenstroeger commented on #457
Nope, just wanted to use the badge from [shields.io](https://shields.io/) because all other badges in the repo are generated there. Making the SLSA logo available as a Simple Icon slug would make that badge even easier to use.

[2022-08-11 20:08] MarkLodato opened #464 "Applied ruling: does signing with GitHub+Sigstore satisfy SLSA 3?"
GitHub Actions + Sigstore can be used to sign artifacts with an X.509 certificate containing the workflow's identity (repository + path + branch/tag). This works by having the workflow request a GitHub Actions [OpenID Connect (OIDC) token](https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect) and then converting that to X.50

[2022-08-11 20:11] TomHennen commented on #387
I talked some with @AdamZWu and I think we're both fine with this proposal as long as `inputAttestations` is optional.

@joshuagl WDYT about us including this in 0.2 and then taking it out of draft?

[2022-08-11 20:25] wlynch commented on #319
Want to chime in to +1 this!

I've been talking to a few folks informally (cc @lumjjb @chuangw6 @mattmoor @mlieberman85) about wanting a place for additional details in the SLSA spec about service infra, since if we're running on vulnerable infra it's tough to trust attestations built on top of it.

As another use case, this is something I was thinking would be useful for Tekton / Tekton Chains so

[2022-08-12 14:25] asraa commented on #464
Another small addition:

Like @kommendorkapten mentioned, with a reusable workflow, the build and provenance is isolated from the maintainer. Yes, you can achieve "SLSA 3" for the input hash and an empty provenance statement, but no other information in your attestation is non-falsifiable.

For example, without a reusable workflow, the contents of your buildConfig are falsifiable by the maintainer

[2022-08-12 14:47] laurentsimon commented on #464
The builder is SLSA level 3, but the resulting artifact may not be due to self-hosted runners. During verification, you'd need to fetch the workflow and verify that it's not using self-hosted runners.

We discussed getting rid of intoto and adding a hash into the certificate in https://github.com/sigstore/fulcio/issues/475, but this is limited because the OIDC token cannot pack a lot of informatio

[2022-08-12 15:26] asraa commented on #464
Big +1 here. The value of having a SLSA 3 attestation here is that we can trust properties of the build and provenance without needing to fetch or parse the workflow, and being aware of GH or other CI/CD systems themselves.

You may be able to prove SLSA 3 compliance from an empty predicate by doing some work. However,  it means they must fetch, parse, and validate the properties of SLSA themselve

[2022-08-12 15:59] MarkLodato commented on #464
Thanks all! That's very helpful to clarify the benefits of the reusable workflow over the raw OIDC/Sigstore model.

But I'm going to be a bit pedantic in order to nail down the **bare minimum** to satisfy SLSA 3. As I read the [v0.1 requirements](https://slsa.dev/spec/v0.1/requirements), I don't see anything that precludes a workflow from fetching and building other sources, nor do I see anything

[2022-08-13 01:10] laurentsimon commented on #464
It does not violate the existing SLSA requirements. I think the question you are asking is generally a source of confusion because the builder cannot assert that the source code was actually "used" to compile, just that the entrypoint of the source code was used. Depending at which level of abstraction the builder operates, you get more or less visibility into the underlying commands... and so you

[2022-08-13 14:56] laurentsimon commented on #460
Another thing worth discussing is the material section for all dependencies. Would it be acceptable to allow a sha256 of a corresponding SBOM generated by the untrusted build steps?

It provides different guarantees (it's forgeable), but would quickly allow the 2 standard to co-exist.

[2022-08-15 07:12] kommendorkapten commented on #464
I think the first-stage and second-stage builder is a great analogy to use here.
For a first-stage/X.509 builder _any_ workflow/build definition that is "_verifiably derived from text file definitions stored in a version control system_" can be used.
A SLSA level 3 attestation for these kinds of builders must bare-minimum (x509 cert + artifact digest), as I understand.

With a second stage builder

[2022-08-15 12:26] #384 closed

[2022-08-15 13:12] MarkLodato opened #465 "Clarify that SLSA 3 only guarantees identification of the top-level build config"
From #464: SLSA 3 only guarantees identification of the top-level build configuration used to initiate the build. It makes no guarantee about what actually happened during the build, particularly the "source" that was built. For example, if GitHub Actions attests to building octocat/Spoon-Knife, all it's saying is that the workflow was defined in that file. There is no guarantee that this workflow

[2022-08-15 13:24] MarkLodato opened #466 "Define provenance guarantees stronger than just top-level config but short of fully hermetic"
In [v0.1](https://slsa.dev/spec/v0.1/requirements), the jump between the provenance guarantees of SLSA 3 and SLSA 4 is very large:

- SLSA 3: only identifies the top-level build config (#465)
- SLSA 4: fully identifies all build inputs, i.e. "hermetic"

From #464, we discussed the value of defining something in between. @laurentsimon suggested the terms "first-stage" vs "second-stage" builder, and

[2022-08-15 13:29] MarkLodato commented on #466
From @kommendorkapten in https://github.com/slsa-framework/slsa/issues/464#issuecomment-1214692292:

[2022-08-15 13:31] MarkLodato commented on #464
Very insightful! It didn't occur to me until you said it. Agreed. Filed #465.

I agree that it would be valuable to distinguish between these two types of builders. I suggest that we try to define a precise term for this rather than offering general guidance, so I filed #466. If you disagree please comment!

[2022-08-15 13:31] MarkLodato commented on #464
I'm going to mark this issue as resolved since I think we have our answer, plus follow-up issues (#465 and #466).

[2022-08-15 13:31] #464 closed

[2022-08-15 14:37] JanZerebecki opened #467 "postpone Non-falsifiable provenance requirement for after 1.0"
This is in the context of the plan that anything level 4 and all source requirements will not be included in 1.0.

(The following was moved to an issue from https://github.com/slsa-framework/slsa-proposals/pull/5#issuecomment-1212157441 .)

In level 1-3 of the requirements the Non-falsifiable provenance requirement is as written too early in the levels compared to how 1.0 will look now. And the te

[2022-08-15 14:45] MarkLodato commented on #467
Sorry, I don't understand this suggestion. On its face, I don't agree with removing this requirement from SLSA 3. I've not heard anyone else suggesting this idea. The "non-falsifiable" requirement is the main difference between SLSA 2 and SLSA 3; Isolated and Ephemeral Environment are really just necessary items to get the "non-falsifiable" property.

[2022-08-15 16:38] JanZerebecki commented on #467
A slightly different wording of what I'm asking for: The Non-falsifiable requirement (which is mostly about signing) should depend on verified reproducible builds.

Ironically I'm asking for it to be falsifiable in the scientific sense, as in a testable assertion. So non-counterfeit-able would be a less confusing wording for the requirement.

That is only true of the provenance requirements, not t

[2022-08-15 16:40] JanZerebecki commented on #467
Is it now understandable for you?

[2022-08-15 17:21] dlorenc commented on #467
I disagree with that premise here. Verified reproducible builds are a good thing, but I disagree they're the only way to obtain the properties sought after by SLSA. Which approach makes the most sense economically is subjective, and different approaches make sense in different places.

[2022-08-15 19:19] JanZerebecki commented on #467
My argument was that the proposed version of SLSA under discussion here doesn't provide the properties.

I can think of a situation in which the current proposal would still make sense for some people. Many things are non-objective, but still scientific, so SLSA should explain the situation in which they make sense. If it is as intended, then I don't think the proposed version does explain it clea

[2022-08-17 21:43] laurentsimon commented on #460
A better option may be to use the SBOM as an additional subject, since it's an output of a build.

[2022-08-22 13:40] melba-lopez commented on #463
Here is what I've been working on.  This is currently still draft, but wanted to share with the team progress so far

![SW Supply Chain Security Brainstorming (16)](https://user-images.githubusercontent.com/101211710/185934960-c1f46920-7ddc-4d1a-81a6-5ccf52c6a68c.png)

@MarkLodato @marcelamelara @joshuagl   **(the case for separation of source vs build)**

[2022-08-22 23:10] marcelamelara commented on #463
@melba-lopez These figures are really helpful, thank you for putting them together! I think they distill some of the major use cases for separating source repo integrity from build integrity. I have a couple questions.

Where do dependency sources fit into these figures? I'm thinking of two scenarios.
(1) The builder pulls dependencies from npm at build time, and these dependencies might or might

[2022-08-23 13:57] joshuagl commented on #387
Works for me. There has been some discussion of VSA in recent spec meetings and I think the `inputAttestations` field is well motivated by those.

[2022-08-23 19:13] melba-lopez commented on #453
Created Draft Charter - **Please review by 8/30!!** https://docs.google.com/document/d/1mmvPsfqg8upg9QSK1Xm9XN1W9njkWa6ZHpAEqdKJ9ds/edit#

[2022-08-26 15:23] mlieberman85 opened #475 "Recommend use of jsonl files as out of band distribution mechanism for SLSA attestations?"
The [generic SLSA github generator](https://github.com/slsa-framework/slsa-github-generator) uses jsonl files to distribute the SLSA attestations for arbitrary content. Does it make sense to recommend it as the pattern for file based distribution? With the OCI changes we now have a good model for how it should be distributed via OCI, there's different bundle formats being developed for NPM and oth

[2022-08-27 08:27] joshuagl commented on #475
I expect that for many readers the suite of interrelated specs we recommend for implementing the attestation model is quite fuzzy and that it would be useful to provide more detail on how they all fit together.

To the point of this issue, the in-toto attestation spec does specify using JSON Lines to store multiple attestations https://github.com/in-toto/attestation/blob/main/spec/bundle.md

We co

[2022-08-29 03:38] ianlewis commented on #475
I agree with @joshuagl. The specific format for jsonl is chosen primarily as a way to distribute multiple DSSE formatted attestations and the doc that @joshuagl linked to is probably the right place for it.

SLSA itself could potentially have a number of ways to attach and distribute a signature so I'm not sure that SLSA itself really cares about jsonl. That said it's pretty opaque how these forma

[2022-08-29 13:19] TomHennen commented on #475
I definitely like the idea of recommending the use of jsonl (but I'm biased).

@joshuagl you mean [this section](https://slsa.dev/attestation-model#recommended-suite)?  It already recommends JSON Lines.

Perhaps you're suggesting we should have some sort of diagram that shows how attestations are created throughout the process and how they move throughout the development->user pipeline?

I also ag

[2022-08-29 14:45] melba-lopez commented on #424
@jeffmendoza thanks for this!!  i lost track of this issue (and now it is on my radar again) :)

[2022-08-30 03:16] ianlewis commented on #475
I hadn't seen the [software attestation model doc](https://slsa.dev/attestation-model) that @TomHennen linked before and I think it addresses the original question that @mlieberman85 suggested. The set of recommended formats is good though I think these could potentially be mentioned in the other sections of the doc where they are most relevant. That might give readers a better idea about how the

[2022-08-30 13:10] mlieberman85 commented on #475
Yeah, I hadn't seen that either that it's already recommended on the site.

@TomHennen the idea here would be to recommend a format + maybe a process like the diagram you're describing so folks know ways to distribute/verify attestations when OCI, or other mechanisms don't make sense or won't work. It would also be a stop gap for packaging tooling that doesn't have functionality or processes for b

[2022-08-30 14:06] TomHennen commented on #475
That makes sense to me.

[2022-09-02 16:43] joshuagl commented on #475
Apologies for the delayed response to this lively thread, I had a bit of PTO. The attestation model page is a recent addition based on some earlier work by Mark which lived outside of the site's content.

Reading through this thread, I think there's two main recommendations for improvements:
1. reference the recommended suite more throughout the docs (counter-argument, this may make the _recommend

[2022-09-02 17:01] mlieberman85 commented on #475
I also support 2. I'll create the new issue

[2022-09-02 17:01] #475 closed

[2022-09-02 19:00] mlieberman85 opened #477 "Create diagram for the site to show how attestations are generated and common methods to distribute them."
Related to: https://github.com/slsa-framework/slsa/issues/475

We already highlight that JSON lines files and OCI are ways to store and distribute SLSA attestations, but people are a bit confused about how to use them in common patterns.

[2022-09-07 01:21] melba-lopez opened #478 "SLSA Requirements for Automation"
Problem:  To assist with automation (devops/compliance), need to generate a machine readable format for SLSA Requirements.

Propose:
- Use v .1 of SLSA Specification to identify accuracy/development of different formats
- Generate a CSV, XML, JSON of the requirements for ALL, Source, Build, Provenance, and/or High Level
- Attempt to use it with OSCAL for mapping requirements to other frameworks/re

[2022-09-07 01:25] melba-lopez commented on #478
SOURCE Requirements for v .1 specification  _(Bugs/Needs some work)_

[SLSA Mapping - Source Requirements.csv](https://github.com/slsa-framework/slsa/files/9501874/SLSA.Mapping.-.Source.Requirements.csv)

SLSA Source Requirements JSON code _(Bugs/Needs some work)_
[code]

[2022-09-07 01:26] melba-lopez commented on #478
High Level SLSA Requirements

[SLSA Mapping - Summary.csv](https://github.com/slsa-framework/slsa/files/9501893/SLSA.Mapping.-.Summary.csv)

SLSA High Level requirements JSON file
`[
  {
    "Requirement": "Source - Version controlled",
    "SLSA 1": "",
    "SLSA 2": "✓",
    "SLSA 3": "✓",
    "SLSA 4": "✓"
  },
  {
    "Requirement": "Source - Verified history",
    "SLSA 1": "",
    "SLSA 2":

[2022-09-07 01:33] melba-lopez commented on #478
SLSA Build Requirements. Bugs/Needs some work)

[SLSA Mapping - Build.csv](https://github.com/slsa-framework/slsa/files/9501946/SLSA.Mapping.-.Build.csv)

SLSA Build Requirements JSON
[code]

[2022-09-07 01:46] melba-lopez commented on #478
SLSA Mapping - *_*CONTENTS** of Provenance_

[SLSA Mapping - Contents of Provenance.csv](https://github.com/slsa-framework/slsa/files/9502012/SLSA.Mapping.-.Contents.of.Provenance.csv)

SLSA Mapping - **Contents** of Provenance JSON
[code]

[2022-09-07 01:50] melba-lopez commented on #478
SLSA Mapping - _**COMMON** Requirements_

[SLSA Mapping - Common Requirements.csv](https://github.com/slsa-framework/slsa/files/9502035/SLSA.Mapping.-.Common.Requirements.csv)

SLSA Mapping - _**COMMON** Requirements_ JSON
[code]

[2022-09-07 02:03] melba-lopez commented on #478
@mlieberman85

Is this what we need to move forward with the OSCAL implementation??

[2022-09-09 17:14] sethmlarson commented on #477
Hello! I was confused about how SLSA/in-toto/DSSE all mapped together and looking at the SVG on [this page](https://slsa.dev/attestation-model) was a little confusing, especially knowing which pieces correspond to which files/specifications I know about. I took an attempt at creating my own diagram in draw.io:

![slsa](https://user-images.githubusercontent.com/18519037/189401424-6e05fe32-172d-4564

[2022-09-10 00:20] godofredoc opened #480 "New badge icons are not propagated to the website"
I landed a PR to add new SLSA badges for all the supported levels in https://github.com/slsa-framework/slsa/pull/479 but they don't seem to have propagated to the website. I was expecting to be able to get the icons from urls like https://slsa.dev/images/gh-badge-level2.svg in a similar fashion as https://slsa.dev/images/gh-badge-level3.svg.

Do I need to copy the badge images to a different place

[2022-09-10 00:20] godofredoc commented on #480
\cc @laurentsimon

[2022-09-10 10:18] inferno-chromium commented on #480
The reason it is not working is these are copied to the wrong dir. It needs to be moved under https://github.com/slsa-framework/slsa/blob/main/docs/images [site is deployed from docs/] and not https://github.com/slsa-framework/slsa/tree/main/resources/assets/badges. We should probably remove the all the badges from resources/assets/badges to avoid confusion.

[2022-09-11 04:53] inferno-chromium commented on #480
https://slsa.dev/images/gh-badge-level2.svg works now, closing.

[2022-09-11 04:53] #480 closed

[2022-09-11 17:41] #387 closed

[2022-09-11 22:08] stevespringett commented on #378
I was recently interviewed by an external vendor at my employer as we are measuring the assurance of our software supply chain. The vendor chose to use SLSA. Since SLSA's definition of provenance does not align to the MITRE, OWASP, or English definition of the word, the interview was unproductive. The reviewer was unable to articulate what SLSA "provenance" meant in specific contexts, specifically

[2022-09-11 22:19] dlorenc commented on #378
Here's one more definition set for the mix:

From [NIST 800-53](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53r5.pdf).

[2022-09-11 22:28] mlieberman85 commented on #378
There are a few additional definitions NIST has: https://csrc.nist.gov/glossary/term/provenance

and

[2022-09-14 21:44] awwad commented on #187
Current text:

' nice to know this has been highlighted before.  ^_^

Preston and I happened to stumble over this requirement and brought it up this week because the existing text is vague enough to reasonably be seen _not_ to fit very _good_ implementations and also to reasonably be seen to fit very _bad_ implementations.

Access to a private key can be seen as meaning visibility of the raw key v

[2022-09-19 16:59] MarkLodato commented on #236
This is now complete as of #484.

[2022-09-19 16:59] #236 closed

[2022-09-19 19:37] TomHennen commented on #326
Note that the SLSA requirements now includes "Includes all transitive dependencies" at L4.  That requirement should probably be part of whatever clarification we do as a part of this issue.

[2022-09-22 20:33] shaunmlowry commented on #129
I think there are 3 principal classes of materials for a build:

1. The source code which is the input which is acted upon

[2022-09-22 20:37] shaunmlowry commented on #129
In the above case, intermediate artifacts may be included as the source input to build steps in multi-step pipelines.  There should be a mechanism to discover the original source having only the attestation for the final artifact, perhaps by using a bundle attestation to record a chain of custody

[2022-09-22 20:41] shaunmlowry commented on #129
I think the materials section should include every artifact in the build graph for the subject.  Note that the attestation _only_ makes claims about the SLSA level conformity for the subject, not the materials which should have their own attestations.  That ensures that SLSA level need not be transitive whilst ensuring you can check the validity of every input that led to the subject, at least by

[2022-09-22 21:14] mlieberman85 commented on #129
Given the inability to discern between "source" and other materials like "dependencies" this complicates "dependencies complete" requirement too.

[2022-09-22 22:52] shaunmlowry commented on #129
Agreed.  To achieve "dependencies complete" you have to list the entire build graph for the subject somewhere, and the logical place is the materials section of the attestation.  To understand the action taken as described in the predicate it's helpful to be able to discern between the 3 types of input I listed above.  In that way you can understand that the build script (predicate) was applied to

[2022-09-23 14:59] shaunmlowry commented on #187
related https://github.com/slsa-framework/slsa/issues/414

[2022-09-23 17:24] melba-lopez commented on #463
per hybrid meeting @camaleon2016 suggesting Jonathan meadows (from citi) to help with the oss/proprietary model that may answer some of these questions.  Awaiting diagram.

[2022-09-23 20:13] marcelamelara commented on #423
I assume by optional requirements, you mean the ones labeled with "O" on this page? https://slsa.dev/spec/v0.1/requirements

Source requirements aside, there are two optional requirements "Reproducible" (Build reqs), which only applies to L4, and "Includes Metadata" (Provenance reqs), which is indeed rather vague.

I'm inclined to recommend removing the Includes Metadata requirement from 1.0 entir

[2022-09-23 20:27] marcelamelara commented on #463
Based on the Hybrid OSS/Proprietary meetings today and last month, two points have emerged out of these discussions:
(1) developing the source management/repo SLSA requirements is necessary but warrants more time and careful consideration to get right, and
(2) ensuring that the SLSA build requirements cover Hybrid OSS/Proprietary build workflows is a separate effort and should be prioritized for 1

[2022-09-26 12:33] MarkLodato commented on #463
Agreed.

[2022-09-26 15:41] shaunmlowry commented on #306
+1 on resolving for 1.0.  I'd note that "Non-falsifiable" has long been used in security circles and has a well understood technical definition.  Agree re: service/platform and as "trusted person" only appears to be used in the context of source provenance we can probably defer resolving that

[2022-09-26 15:42] shaunmlowry commented on #423
+1 on resolving for 1.0.  If they're optional at a given level, we should just push them up a level and make them mandatory, even if that means having a level 5 :)

[2022-09-26 15:43] shaunmlowry commented on #425
+1 on resolving for 1.0

[2022-09-26 15:44] shaunmlowry commented on #463
+1 on deferring this

[2022-09-26 15:45] shaunmlowry commented on #388
+1 on resolving for 1.0, even if the resolution is "this is fine as is"

[2022-09-26 15:49] shaunmlowry commented on #465
This one's tough.  If level 3 is the highest we're proposing for v1.0 I think we need to be a bit tougher here and clearly identify the action that was performed on which inputs in the attestation.  I'm not sure I'd really see much value in an attestation that just said "the food we're serving is based on the process of cooking at 400F" without any mention of what was cooked.

+1 on resolving for

[2022-09-26 15:56] shaunmlowry commented on #467
I still think there's value in non-falsifiability of claims here, and I think the statement that there's no point in signing provenance until you've reached SLSA 4 including the optional requirements.  If nothing else, you can prove that the subject artifact has not changed since the attestation was made if the attestation has a signature as it acts as a proxy signature for the artifact in this ca

[2022-09-26 15:57] TomHennen commented on #465
I agree that getting clarity here would be helpful, I'd probably disagree with that particular metaphor.    The provenance including the top level build config would be more like "this dish was made following the recipe 'poached salmon', page 67, of Mastering the Art of French Cooking" without mentioning the specifics like which tools were used, where the ingredients were sourced from, etc...

[2022-09-26 16:28] marcelamelara commented on #463
Per the Specification SIG meeting today, how should we mark this issue? Can we create a post-1.0 tag?

[2022-09-26 16:56] marcelamelara commented on #423
@shaunmlowry Good point. For optional requirements that apply to a specific level, I think it makes sense to bump them up to the next level. As an aside, I can think of other build requirements in addition to "Reproducible" (e.g., run your builder on attested hardware) that would fit into a L5.

The "Includes Metadata" common requirement, specifically, is currently optional in all L1-4, so if we w

[2022-09-26 17:01] MarkLodato commented on #129
Discussed at the [2022-09-26 specification meeting](https://docs.google.com/document/d/1kMP62o3KI0IqjPRSNtUqADodBqpEL_wlL1PEOsl6u20/edit#heading=h.jklaf6icrl5q). In short, I _believe_ the consensus among the participants was basically the same as the top post, with the following additions:

- Might also be valuable to differentiate between declared (or direct) dependencies and implicit (or transit

[2022-09-26 17:14] MarkLodato commented on #463
Thanks @marcelamelara. I just moved it to a new "SLSA spec v1.1+" milestone and removed the maybe-1.0 tag.

[2022-09-26 17:18] MarkLodato commented on #465
I agree with @TomHennen. The top-level build configuration _does_ indicate at least the source location, so if you read it, you would at least know what was being checked out. The delta between that and putting it in the provenance is that the latter would resolve it to a _specific_ version/hash.

[2022-09-26 17:19] MarkLodato commented on #465
Removing the maybe-1.0 label as a decision to include it in 1.0.

[2022-09-26 20:32] MarkLodato commented on #4
Deferring to v1.1+ since this is about source requirements, which are not being defined in v1.0.

[2022-09-26 20:39] MarkLodato commented on #423
Let's decide this for v1.0. Suggestion for the two optional build requirements:

- Reproducible: Move this to the list of "possible future requirements" that will house the existing SLSA 4 requirements (since v1.0 will not define a Build L4.) The purpose of this "optional" requirement was more to guide readers that that is an ideal future state, and I think that will serve this purpose.
- Includes

[2022-09-27 14:48] joshuagl commented on #423
Great discussion and suggestions, I like the suggestions for 1.0.

[2022-09-28 11:24] MarkLodato opened #491 "Guidelines for adding a logo to partnerships"
On the front page, we have a list of company logos under "An industry collaboration". We should:

1. Have guidelines for what conditions someone can add a logo there. Is participation in meetings sufficient?
2. Provide instructions for readers on how to add their logo.

Reference: #488, which adds Kusari. Clearly that passes the bar since there are multiple members who participate heavily, includi

[2022-09-28 19:24] kimsterv commented on #491
More logos the better if you ask me! If anyone wants to opt-in and toss their logo in there, that's cool. I assume whomever sends the PR to add their logo has the permission from their respective organization. We probably do need to somehow check that the person actually works at the organization.

If we're ever asked to take a logo down, we should to that too.

[2022-09-28 20:14] mlieberman85 commented on #491
Certain companies, especially very large enterprises in regulated industries can be sticklers on how their logo gets used and what it is associated with. I think as long as we just make it clear that if someone opens a PR to add their logo they are claiming they are allowed to make that decision.

[2022-10-03 12:45] MarkLodato commented on #321
Also: is a container a sufficient security boundary? The Ephemeral Environment says (emphasis added)

But containers are [not a strong security boundary](https://blog.aquasec.com/container-isolation), so we shouldn't recommend that. We more precision here.

Perhaps we could say VM or _sandboxed container_ such as [gVisor](https://gvisor.dev/)?

[2022-10-03 12:46] MarkLodato commented on #321
This also gets into the issue that Ephemeral Environment and Isolated are really two sides of the same coin and need to be designed hand-in-hand. It's worth considering merging them into a single requirement.

[2022-10-03 13:01] joshuagl commented on #321
This makes a lot of sense. Containers satisfy *Ephemeral* but mentioning them when *Isolated* is also a requirement almost feels disingenuous. Some container platforms can provide the security boundary, as mentioned, but we should be much clearer and merging the requirements feels like a logical step to help service implementers evaluate the requirements.

[2022-10-03 13:26] MarkLodato opened #497 "SLSA spec v1.0"
Tracking issue for the SLSA spec v1.0 release.

- To view the latest draft: https://slsa.dev/spec/v1.0
- To view all pending v1.0 issues, grouped and prioritized by objective, see [Specification v1.0](https://github.com/orgs/slsa-framework/projects/1/views/1) project.
- To read the original v1.0 design doc, see [SLSA v1.0 Proposal](https://github.com/slsa-framework/slsa-proposals/blob/main/0003/RE

[2022-10-03 13:33] joshuagl commented on #168
When to tackle this depends on making a decision whether to include https://github.com/slsa-framework/slsa/issues/46 in 1.0

[2022-10-03 13:35] joshuagl commented on #167
I think we need to know how we will accomplish this prior to 1.0, even if we don't actually implement anything before 1.0 is released.

[2022-10-03 13:37] joshuagl commented on #130
Issue https://github.com/slsa-framework/slsa/issues/46 "Policy & Verification" is related to this. As is #478 on achieving automatic verification.

[2022-10-03 13:40] joshuagl commented on #191
Closing this issue as the discussion resolved that we do not want to recommend generic artifact signing.

[2022-10-03 13:41] #191 closed

[2022-10-03 13:46] MarkLodato commented on #154
Actually I think we should consider this for v1.0. The Common Requirements section is getting replaced by the guidelines + survey/self-attestation. In those guidelines, we might want to recommend 2FA for all administrators? Shall we keep it in v1.0 for now? We can always choose to defer later if we're short on time.

[2022-10-03 14:03] joshuagl commented on #287
Relates to #196. The two-party approval requirements will most likely not make 1.0, except the recommendation to use two-party approval for all administrative changes to the build service. Therefore I think we can defer this till post 1.0

[2022-10-03 14:13] joshuagl commented on #306
Other terminology related issues:
* https://github.com/slsa-framework/slsa/issues/369
* https://github.com/slsa-framework/slsa/issues/366
* https://github.com/slsa-framework/slsa/issues/367

[2022-10-03 14:19] joshuagl commented on #418
I believe this is related to #351 "Provide guidance on level of granularity for "build"", in that a provenance attestation describes a "build" per the [provenance predicate model](https://slsa.dev/provenance/v0.2#model). Further attestations, to populate a universal asset graph, are not _provenance_ attestations.

For more on alternative attestation types, see [in-toto/attestation](https://github.

[2022-10-03 14:20] joshuagl commented on #466
Ideologically, this feels related to #230

[2022-10-03 15:42] joshuagl commented on #466
There's an intermediate between top-level config at SLSA L3 and hermetic at L4 captured in the [SLSA v1.0 proposal](https://github.com/slsa-framework/slsa-proposals/pull/7/files).

[2022-10-03 15:50] shaunmlowry commented on #321
I think we're wandering into the distinction between Isolated (SLSA 3) and Hermetic (SLSA 4).  I think if containers don't provide a good enough boundary for Isolated here because it's possible to escape them and they share underlying storage, then neither are VMs of any colour.  In order to satisfy the strictest interpretation of Isolated, you need to go to physically distinct hardware with no ne

[2022-10-03 15:53] shaunmlowry commented on #154
Is having a complete set of guidelines alongside the core spec in scope for the 1.0 milestone?

[2022-10-03 16:02] joshuagl commented on #154
Guidelines for "build system/service" (name liable to change) implementers has been agreed under the "evidence of security claims" part of the SLSA 1.0 proposal, assuming the [PR for proposal 3](https://github.com/slsa-framework/slsa-proposals/pull/7/files) is approved.

[2022-10-03 20:49] MarkLodato opened #498 "SLSA v1.0: Drop "scripted build" requirement?"
Should we drop the [scripted build](https://slsa.dev/spec/v0.1/requirements#scripted-build) requirement from v1.0? I'm having a hard time articulating what exactly the requirement is or why it is there. I suspect it may be doing more harm than good.

First, this is really only relevant at Build L1. The requirement is moot at Build L2+ because build services always require some sort of build script

[2022-10-03 21:51] marcelamelara commented on #230
Stopping by to bump this issue, since this topic came up at today's Specification SIG meeting. I'm in favor of splitting the current "Hermetic" requirement, and for v1.0 to only include a Pinned Dependencies (with immutable/resolvable references) requirement for a build step in L3, maybe even in L2 without any further guarantees. The rationale for Pinned Dependencies is that it allows a verifier t

[2022-10-03 21:59] marcelamelara commented on #367
+1 to resolving this for v1.0.

[2022-10-03 22:16] marcelamelara commented on #188
+1 to resolving this during v1.0. Clearly identifying who is responsible for meeting a requirement should be part of the discussion on the set of v1.0 requirements, and which SLSA level a given requirement should map to.

[2022-10-04 12:58] TomHennen commented on #498
At L1 is there any requirement that the provenance lists sufficient instructions to rebuild?

I suppose it's not clear that L1 with the scripted build requirement the script needs to be referenced at all?

Apart from those specific questions since we'll be keeping the 'Build as Code" requirement at L3+ it generally seems fine to me.

[2022-10-04 14:10] MarkLodato commented on #321
That is a good basis, but I do think we need some guidance on a minimum bar. For example, I don't think it's sufficient to just reuse environments with documentation saying "don't do that."

In general, I believe there is a spectrum of attacker capabilities and risk level:

- Benign: Unwilling to violate documented policy or technical control (threat of firing or legal action), but may make a mist

[2022-10-04 14:14] MarkLodato commented on #498
No, that is too strong of a requirement, but I do think we should be more specific on what is required.

[2022-10-04 14:51] MarkLodato commented on #466
Agreed. Let's mark this as a dupe.

[2022-10-04 14:51] #466 closed

[2022-10-04 14:52] MarkLodato commented on #230
Marked #466 as a duplicate of this one. See that issue for a few more thoughts, but they generally echo what was said here.

[2022-10-04 17:08] melba-lopez commented on #453
Opened PR https://github.com/slsa-framework/governance/pull/15

[2022-10-06 15:00] lumjjb commented on #321
I am in favor of a recommendation. I think that a lot of the time, there is nuance to the threat model of the build systems as well as how the technology evolves. I think it could be helpful to provide additional recommendation on what properties are desired and how to evaluate the risk where auditors/users can then assess the risk appetite for.

[2022-10-06 16:12] mlieberman85 opened #499 "Some folks reporting that slack link on slsa.dev requires an LF login"
Some people, for example in the mailing list have reported that the slack link on: https://slsa.dev/community is asking for an LF account whereas the slack link on https://openssf.org/getinvolved/ let's folks create slack accounts in OpenSSF normally.

I have tried with an extra account I have and get an error trying to create an OpenSSF slack account as well:

I think we just need to update the l

[2022-10-07 09:28] joshuagl commented on #499
Thanks, the Slack link has expired before. I don't think slack.openssf.org existed last time we ran into this but as that's the link from the main OpenSSF site to Slack we should use it too.

[2022-10-07 12:29] MarkLodato commented on #499
I wish Slack allowed the invite link to redirect to a specific channel. Either we link directly to the channel, which only works for people who already have an account, or we link to the invite, which goes to `#general`. Really we want both: create an account, then go to a specific channel.

[2022-10-07 15:43] mlieberman85 commented on #461
@HyuckjunChoi We chatted about this on Slack, but you have now created the plugin and would like to contribute it directly to SLSA. Can you link the plugin here in this issue?

@MarkLodato @joshuagl - what would the process be for deciding on whether or not to take in the Jenkins plugin directly into SLSA org?

[2022-10-08 13:35] HyuckjunChoi commented on #461
@mlieberman85 Sure, this is the SLSA provenance generator for Jenkins. https://github.com/Samsung/slsa-jenkins-generator

[2022-10-08 17:24] inferno-chromium commented on #461
@HyuckjunChoi @mlieberman85 - It will be great to add Jenkins support for SLSA generator/verifier. Process-wise, should just would need reviews from steering committee and other SLSA generator folks.

@asraa @laurentsimon @ianlewis - can help with reviews/validating integration.

[2022-10-10 17:43] MarkLodato commented on #498
Discussed at [today's specification meeting](https://docs.google.com/document/d/1kMP62o3KI0IqjPRSNtUqADodBqpEL_wlL1PEOsl6u20/edit#heading=h.jklaf6icrl5q) (2022-10-10).

It seems that the main value of this requirement is around *repeatability* and *expectation*: that everyone knows how the package is supposed to be built. It is not reasonable to tell users to run "gcc foo && gcc bar && ld ... && t

[2022-10-10 17:50] MarkLodato commented on #498
Oops, I don't think I read your comment carefully. On second thought, that does sound like what we want, in addition to some notion of what those commands ought to be.

Three things are needed for bit-for-bit reproducible builds:

- The complete build instruction.
- The complete list of dependencies, down to the specific version.
- A deterministic build process (e.g. no timestamps or filesystem-de

[2022-10-10 18:54] TomHennen commented on #498
I'm not sure, it probably depends on what you mean.

There are some builders that let users configure the build steps in a UI and store the config in a database somewhere.  What would you want people to put in the provenance in that case?

[2022-10-11 20:48] MarkLodato commented on #268
I would like to address this for v1.0.

[2022-10-12 20:39] MarkLodato opened #504 "SLSA v1.0: reproducible builds should satisfy SLSA Build Levels"
The current wording states that a "hosted build service" is required. One way to implement this would be to have a system of reproducible builds where the original build happens anywhere and then some (hosted) rebuilders reproduce the build bit-for-bit and generate their own provenance. I want to make sure that the wording of the requirements makes it clear that this is an acceptable implementatio

[2022-10-12 20:46] MarkLodato commented on #111
I tried to address for v1.0 in #502. Please take a look. Unless I hear otherwise, I will consider that PR to fix this issue.

[2022-10-12 20:46] MarkLodato commented on #268
I tried to address for v1.0 in #502. Please take a look. Unless I hear otherwise, I will consider that PR to fix this issue.

[2022-10-12 20:48] mlieberman85 commented on #504
Do we also want to require or suggest that it should happen on a separate buildType? Based on some previous discussions there was potentially two things you could show via reproducible builds.

1. Build itself wasn't tampered with
2. Build service wasn't tampered with

This would mean like some build running on GHA and the same build running on Tekton running and producing the same output would be

[2022-10-12 20:50] MarkLodato commented on #337
In #502, I added a paragraph explaining that SLSA is intended to be part of a broader determination of risk. I don't think that sufficiently addresses this issue, but I'm hoping that it's a start. If you get a chance, please take a look. It's a large PR so it's just the new paragraph added to the "What is SLSA?" section (a917c17).

[2022-10-12 20:58] MarkLodato opened #505 "Include guidance how to implement a secure builder"
We might want to include "implementation guidelines" to explain how builders should be implemented. This would both illustrate ideas to make them more concrete and also set expectations on level of security.

One thing from #504 is how a system of reproducible builds could satisfy SLSA Build L3.

[2022-10-12 20:59] MarkLodato commented on #504
For this issue my intention was just a specification change to make it clear that reproducible builds is an acceptable implementation - i.e. that the original build need not be hosted.

I think a larger, separate issue is a set of recommendations for how to implement a secure build system and gain confidence that it's actually secure. A system of reproducible builds that log all of their actions s

[2022-10-13 17:56] MarkLodato commented on #461
I think if we have sufficient votes of @slsa-framework/slsa-steering-committee that would work. I'm OK with this.

[2022-10-13 18:39] joshuagl commented on #461
I filed https://github.com/slsa-framework/governance/issues/17 to define and document a process and expectations.

[2022-10-14 20:46] mlieberman85 commented on #505
I think that guidance might also need to take into considerations constraints along with some pros and cons. In the tooling meetings we've been discussing what we think might make sense here. For example, storing attestations alongside artifacts vs. separately.

[2022-10-17 12:59] #111 closed

[2022-10-17 12:59] #268 closed

[2022-10-17 13:33] MarkLodato commented on #309
This has been implemented for a while now. Marking as resolved. If there are further issues with the blog, please open a more specific issue.

[2022-10-17 13:33] #309 closed

[2022-10-17 13:50] MarkLodato commented on #46
I think we need to resolve this for v1.0 of the specification. #503 is a start though it is insufficient to fully resolve this issue.

[2022-10-17 13:51] joshuagl commented on #46
I agree, this feels like something we should resolve prior to 1.0.

[2022-10-17 14:10] MarkLodato opened #508 "v1.0: Define how systems are verified (manually)"
For v1.0, we need to define how systems (particularly build systems) are verified to meet the SLSA requirements. These are the requirements that cannot be automated because they depends on the design of the system.

Sub-issues:

* [ ] #515
* [x] #478
* [x] #187

Context:

* Parent issue: #130
* Proposal: [evidence of security claims](https://github.com/slsa-framework/slsa-proposals/blob/main/0003/

[2022-10-17 14:16] #499 closed

[2022-10-17 14:25] MarkLodato commented on #130
I'm repurposing this issue to cover the general issue of how systems and artifacts are verified to meet the SLSA requirements, de-duplicating other issues here. See the updated top comment for the latest.

[2022-10-17 14:26] #371 closed

[2022-10-17 14:39] MarkLodato commented on #46
For this particular issue, I suspect we might want to separate into the following, while avoiding the term "policy" since it is overloaded:

- Roots of trust, i.e. which system I trust to be at which level. This will likely vary by consumer and involve delegation/accreditation.
- Expectations for the artifact to prevent the threats covered by SLSA. Includes at least the source repo and likely how

[2022-10-17 14:44] MarkLodato commented on #478
To clarify, is this about verifying that a *system* meets the SLSA requirements as per #508? Would this essentially be the "evidence of security claims" from the [SLSA v1.0 proposal](https://github.com/slsa-framework/slsa-proposals/blob/main/0003/README.md#evidence-of-build-service-security-claims)?

[2022-10-17 20:10] MarkLodato opened #510 "Split Build vs Source levels"

[2022-10-17 20:26] MarkLodato commented on #389
I suggest that we make a decision for v1.0 whether SLSA covers this threat or not.

- If so, we need to define it for v1.0.
- If not, I think it's OK to defer to after v1.0.

[2022-10-17 20:28] MarkLodato commented on #418
Since it's so close to #351, I'm going to merge it with that one to avoid having two parallel discussions.

[2022-10-17 20:28] #418 closed

[2022-10-17 20:29] MarkLodato commented on #351
Comment from @abacchi on #418 (marked as a duplicate of this issue):

[2022-10-17 20:41] MarkLodato commented on #467
The main point of this issue, as I understand it, is to either add a requirement around verified reproducible builds at Build L3 or remove the wording around "non-falsifiable" because the claim is too strong. There have been no comments in favor but several against, so I am going to say that the consensus is not to do this and close this issue.

It sounds like the last comment also touches on the

[2022-10-17 20:41] #467 closed

[2022-10-17 20:53] MarkLodato commented on #39
Let's split this issue in two:

- Specification itself: #188
- User guidance, how-to etc: #39 (this issue)

As such I'll remove this from the v1.0 milestone.

[2022-10-19 13:13] SaiJyothiGudibandi commented on #461
Is this going to be supported by SLSA? If yes, may I know the ETA?

[2022-10-19 18:45] SaiJyothiGudibandi commented on #461
I tried that, but not working for me.
1. keypath/credential ID is not supported. Getting not found, even the credential or key is there in the provided path.
2. I am trying to push link metadata to the Rekor server or workspace as a provenance file.

[2022-10-19 21:51] MarkLodato opened #513 "SLSA v1.0 final - release process"
Once v1.0 has been reviewed and approved, we need to mark it as final and update the rest of slsa.dev.

- [x] Remove unused "current version" configuration
  - [x]  #828
  - [x] #830
  - [x] #831
- [x] #762
- [x] #829
- [x] #832

[2022-10-20 17:59] JoshuaMulliken opened #515 "SLSA Conformance Program"
**Doc:** https://docs.google.com/document/d/1iWjO4UGcGm0PeCm9mbqeT-PiD4z4S7qXMaZsGIFUn0s/edit
**Presentation:** https://docs.google.com/presentation/u/0/d/1oQoJYy9aCGvnEi43NtgSEfuw3IZbYRuapKFrwSceudA/edit

## Background

The Supply Chain Levels for Software Artifacts (SLSA) framework provides a check-list of standards and controls to prevent tampering, improve integrity, and secure packages and in

[2022-10-24 15:12] MarkLodato commented on #515
👍. We also need to figure out how to incorporate it into the specification.

[2022-10-25 11:36] MarkLodato commented on #230
As per yesterday's specification SIG meeting, we have decided to defer this until after v1.0 because there is not enough bandwidth to figure this out. We are already behind schedule for v1.0, and this issue would requires a fair amount of thought and experimentation.

[2022-10-25 11:37] MarkLodato commented on #230
As per yesterday's specification SIG meeting, we have decided to defer this until after v1.0 because there is not enough bandwidth to figure this out. We are already behind schedule for v1.0, and this issue would requires a fair amount of thought and experimentation.

[2022-10-25 12:09] MarkLodato opened #518 "Meta-issue for SLSA v1.0: "Isolated", "Service generated", "Non-falsifiable", "Authenticated""
We have several issues that are all very related:

* [ ] #261
* [ ] #291
* [ ] #321
* [ ] #362
* [ ] #365

A single PR is likely to fix multiple of these, so let's lump them all together under a single meta-issue and remove the sub-issues from the project board.

[2022-10-25 15:24] mlieberman85 opened #519 "SLSA v1.0 PDF"
It would be useful to have a single document including the info on the provenance specification, detailed requirements for the framework, etc. It should just be a copy of the content from the website formatted into something that is readable in a single document.

Use cases:
* Air gapped installs where having a printout available would be helpful
* Ease of distribution
* Light recreational reading

[2022-10-25 17:29] marcelamelara commented on #508
Taking a stab at this. It seems that we're really trying to answer two questions here:
(1) How can each build requirement be assessed?
(2) Which, if any, evidence can we obtain to demonstrate a given requirement is met?

Here are all the build requirements, as of right now:
* Scripted build (All build steps were fully defined in some sort of “build script”. The only manual command, if any, was to

[2022-10-26 14:29] kpk47 commented on #508
I've been thinking about build system verification, and I like your suggestions. I don't think they'll all work for closed source projects, though. The easiest (at least conceptually) closed source solution is probably formalizing the SLSA conformance program (https://github.com/slsa-framework/slsa/issues/515). We can augment provenance fields that carry build info with fields that would hold proo

[2022-10-26 19:53] MarkLodato opened #520 "Better define "package" and associated terminology"
Draft proposal: https://docs.google.com/document/d/1yHc3Bcq8fV5sthCcOhhQBd5UC6xfH9UV-NTry56ocD0/edit

Ideally this would be done in sync with the OpenSSF Best Practices WG, which is also defining similar terminology.

[2022-10-27 11:13] dn-scribe commented on #362
As I see it there are two issues that got mixed up here:
1. Who should attest to the built artifact hash. The current definition [here](https://slsa.dev/spec/v0.1/requirements#identifies-artifact) is that that build script can, though not totaly trusted. The discussion was mainly answering why - Is it a practical necessity or is it secure enough. My take is that it is a necessity, but the standard

[2022-10-28 01:35] wtfacoconut commented on #278
I totally agree here that the Parameterless requirement is overly broad. The big issue as you've already pointed out @david-a-wheeler is that for most CI/CD systems, the recommended way to provide things like secrets and credentials in a secure way to a pipeline is by using parameters because it's obviously not secure to hardcode things like API tokens and credentials into your build.

[2022-10-28 14:10] MarkLodato commented on #362
Thank you for the summary, @dn-scribe! That is extremely helpful. We'll try to work this into the spec.

[2022-10-28 22:41] kpk47 commented on #508
Good point. There's probably a range of preferences for how much information an organization is willing to share about their internal processes, and it probably doesn't actually map very well to the open/closed source dichotomy I was using. We'd probably be better off thinking of a spectrum between minimally and maximally public processes. Even with that framing, I think that third party attestati

[2022-10-29 10:59] wtfacoconut opened #521 "ELI5: What is provenance and attestation?"
Appologies in advance if this is the wrong place to be asking this question, but I figured that question has the possibility in resulting in a update to the documentation for new comers to SLSA and supply chain security.

I'm pretty new to SLSA and the subject of Supply Chain Security (SCS) and there are two important key-terms that I see being used quite heavily (provenance and attestation), but

[2022-10-29 19:00] jspeed-meyers commented on #521
@wtfacoconut, I've had the same questions before. Using the FAQ in the Chainguard academy docs (full disclosure: I work at Chainguard):

[Attestation](https://edu.chainguard.dev/software-security/glossary/#attestation)

[Provenance](https://edu.chainguard.dev/software-security/glossary/#provenance)

This definition comes from the SLSA definition of provenance [here](https://slsa.dev/provenance/v0.

[2022-10-29 19:01] jspeed-meyers commented on #521
Perhaps attestation should be defined in the SLSA docs somewhere. I defer to @MarkLodato. Also, if someone disagrees with the above definitions, please speak up and no hurt feelings.

[2022-10-29 21:04] wtfacoconut commented on #521
Hello @jspeed-meyers. Thank you for taking the time to provide these definitions and explain things to me.

I have a few follow up questions about these two things now.

- Right now my mental model is that an attestation is basically a cryptographically signed file that contains one or more provenance entries. There would be one provenance entry for my code/application and possibly other independe

[2022-10-29 21:31] wtfacoconut commented on #521
Hello @jspeed-meyers. Thank you for taking the time to provide these definitions and explain things to me.

I have a few follow up questions about these two things now.

- Right now my mental model is that an attestation is basically a cryptographically signed file that contains one or more provenance entries. There would be one provenance entry for my code/application and possibly other independe

[2022-10-29 21:36] mlieberman85 commented on #521
We have been trying to focus on definitions from major standards bodies if possible. I believe our definition of provenance stems from NIST 800-53. There's been a ton of confusion in the space around definitions lately.

[2022-10-29 23:33] jspeed-meyers commented on #521
@wtfacoconut, glad to help. This is a constant source of confusion.

On the attestation mental model: I think a more general mental model might be useful. An attestation is really just a claim by party X about software artifact Y. It doesn't have to be provenance-related. It could be that party X scanned artifact Y and a certain set of vulnerabilities was found. It's a very general notion.

And on

[2022-10-30 12:41] wtfacoconut commented on #521
Hey @jspeed-meyers . Thanks again for another infomative and useful response. I think I'm starting to understand things better now. It sounds like the state of Supply Chain Security is still very much in a state of flux, hence why there seems to be many people like me who get a bit confused.

I'll try my best to list off what I think I'm understanding now:
- Attestations are just a "claim" about "

[2022-10-30 18:59] jspeed-meyers commented on #521
Bingo.

That's roughly right. More specifically, you might say that SLSA (at least 0.1) [" protects against tampering during the software supply chain."](https://slsa.dev/use-cases)

Yes!

That's right, but I am not the expert on the latter point (about non-sigstore options), so I defer to others.

I would say signed SBOMs, signed SLSA provenance documents, or other things/metadata are all forms o

[2022-10-30 20:12] wtfacoconut commented on #521
Roger that and thanks again!

[2022-10-31 16:20] melba-lopez commented on #129
Didn't want to lose track of this issue as well where we were trying to discuss build vs source requirements.
 https://github.com/slsa-framework/slsa/issues/463

[2022-10-31 16:27] melba-lopez opened #523 "SLSA Spec 1.0 - Fix Build L1/L2 Discrepencies"
Some of the L2 requirements are discussed as benefits for L1.  Need to adjust language either on website or on github (depending on which is correct).

https://deploy-preview-512--slsa.netlify.app/spec/v1.0/requirements#build-track

- L1 - All build steps were fully defined in some sort of “build script”. The only manual command, if any, was to invoke the build script.
- L2 - All build steps ran u

[2022-10-31 16:47] melba-lopez commented on #523
"such as building from a client with local modifications."    Should be changed to...

Code cloned on a local system must match the upstream code during build.  Otherwise it is prevented.

@lehors  @06kellyjac -- I didn't fully catch the conversation on the jenkins scenario.  I believe it was also around the jenkins server could also not have local modifications.

[2022-10-31 16:49] melba-lopez commented on #523
Adding comments from [SLSA Specfiication notes ](https://docs.google.com/document/d/1kMP62o3KI0IqjPRSNtUqADodBqpEL_wlL1PEOsl6u20/edit# )entered by Mark:

[code]

[2022-10-31 17:26] 06kellyjac commented on #523
The Jenkins point was more around having different host system libraries that can change underneath you or across separate instances. Similar to differing across developer machines.

But this wasn't too relevant once we clarified it was about ensuring the git repo wasnt dirty (and maybe had that commit in remote)

[2022-10-31 18:04] lehors commented on #523
As for "local", the note from the meeting captures what I meant. What matters is that the code the build runs on matches the upstream code.

[2022-11-01 21:01] laurentsimon commented on #461
Thanks for reaching out. We're not super familiar with Jenkins ourselves. However we'd be willing to collaborate and help with design / code reviews / etc.

@HyuckjunChoi who wrote https://github.com/slsa-framework/slsa/issues/461 may have some ideas.

[2022-11-01 22:46] marcelamelara commented on #498
This seems very related to the discussion happening over at #508 as well.

[2022-11-02 13:35] TomHennen opened #526 "SLSA provenance is too hard to find on the website"
I've heard from a couple of folks that they weren't aware that SLSA had a specification for how to exchange metadata, despite the fact that SLSA Provenance is linked from the menu.

Would it make sense to make SLSA provenance and VSAs more prominent on the SLSA website?

[2022-11-02 13:53] MarkLodato commented on #526
Yes. This is currently blocked on #340. I think we should have an "Attestations" at the top level. (cc: @olivekl)

[2022-11-02 16:53] MarkLodato commented on #521
Reopening since we do need to define this in the Terminology section.

[2022-11-03 18:34] #523 closed

[2022-11-07 12:15] #106 closed

[2022-11-07 12:15] #504 closed

[2022-11-07 15:01] MarkLodato commented on #335
Also bulleted list spacing:

![image](https://user-images.githubusercontent.com/58860/200342536-0a4046aa-c9ab-45c8-9e97-53e0f057e545.png)

[2022-11-07 16:57] SaiJyothiGudibandi commented on #461
@inferno-chromium

[2022-11-07 17:09] joshuagl commented on #515
Thank you for working on this!

I like the two-tiered proposal, getting folks (and process) up and running with a self assessment while we figure out third-party feels like a sound approach.

The self-assessment process reminds me of the OpenSSF Best Practices badge and their model of a web application to complete the form may make sense? https://bestpractices.coreinfrastructure.org/en

I also wan

[2022-11-08 14:25] joshuagl commented on #520
The draft proposal looks reasonable to me. I agree with the priorities of unambiguous and minimal think the proposal meets those priorities and the goal.

Further, the proposal mostly matches my mental model (from the Linux distribution world) and does not seem to contradict the [Package URL specification](https://github.com/package-url/purl-spec/blob/master/PURL-SPECIFICATION.rst).

The only thin

[2022-11-08 14:38] MarkLodato commented on #520
My thoughts exactly. :-)

[2022-11-08 14:39] MarkLodato commented on #520
My thoughts exactly. :-)

[2022-11-08 14:51] joshuagl commented on #520
I couldn't find where this is happening, do you have any pointers? Has this draft document been shared with that WG?

[2022-11-11 18:57] MarkLodato opened #533 "Provenance v1.0: consider other representation of digest"
In https://github.com/slsa-framework/slsa/pull/525#discussion_r1019186120, @kommendorkapten brought up the following question regarding the `digest` field:

This is a complex enough topic that warrants its own issue. I don't want the conversation to get lost in the pull request comment. I'll respond with my thoughts separately.

[2022-11-11 19:48] MarkLodato commented on #533
First, this uses the same format as [`Statement.subject.digest`](https://github.com/in-toto/attestation/blob/main/spec/field_types.md). I'd strongly prefer keeping the two in sync, so either changing both or changing neither. For the sake of argument, let's assume we change both.

There are actually several independent issues being brought up here:

- JSON hex vs base64 for the value
- JSON map vs

[2022-11-14 06:49] lukehinds commented on #521
I have been quizzed about this a lot and have ended up summarising as:

attestation: evidence of state

provenance: source of origin

I went with 'state', as used as a noun it's deemed to be "the particular condition that someone or something is in at a specific time."

Coupled together, provenance tells me how software was constructed using its component parts (source repository, compiler,  build

[2022-11-14 08:19] kommendorkapten commented on #533
Good summary!

Just to throw in another format into the mix:

[code]

Which is very close to Statement/subject, and probably my preferred structure. I think a map is probably the best option, as it can be iterated over, and any element can be accessed directly.

The question on hex vs base64 is a bit more complex, and I think you broke down the differences in a good way.

For the protobuf definiti

[2022-11-14 12:48] MarkLodato commented on #521
We currently have this page: https://slsa.dev/attestation-model

@lukehinds that does not seem to align with the in-toto and slsa definitions. Instead, I've been using:

* **Attestation:** authenticated statement (metadata) about a software artifact or collection of software artifacts. In other words, a claim by a party about software.
* **Provenance:** an attestation about how the software was pr

[2022-11-14 12:56] lukehinds commented on #521
@MarkLodato , that's fine, not expecting it to replace anything already agreed on, just throwing it in as my 2c.

[2022-11-14 17:47] tracymiranda commented on #515
For reference here is the [SLSA Compliance Assessment](https://docs.google.com/spreadsheets/d/1fNdJJZZdEJAJU0ZaCnYcIlZA3L-bwT7vY7ZesqW3WEs/edit#gid=0) that is in use by the Kubernetes community for their SLSA efforts https://github.com/kubernetes/enhancements/issues/3027

[2022-11-14 18:02] JoshuaMulliken commented on #515
A major value area would be that organizations and projects can select a build system that allows them to comply with SLSA. For the first iteration, I think that is the best starting point for providing our badges and putting guardrails up.

In the Specification Meeting on November 14th 2022 we discussed this as a decision point for the first effort so that we can properly scale the scope of work

[2022-11-16 18:53] laurentsimon commented on #515
I'm one of the maintainers of https://github.com/slsa-framework/slsa-verifier`. We'd be interested in incorporating builder levels that come out of `Identify the level of SLSA that build platforms can attest to` (https://github.com/slsa-framework/slsa-verifier/issues/158 and https://github.com/slsa-framework/slsa-verifier/issues/84)

[2022-11-17 04:45] inferno-chromium commented on #461
Sorry i have been slow on issues lately, but i am super excited to see https://github.com/slsa-framework/slsa-jenkins-generator

[2022-11-17 08:28] joshuagl commented on #461
https://github.com/slsa-framework/slsa-jenkins-generator has been donated to the OpenSSF by Samsung and moved into the salsa-framework organisation. I think we are good to close this issue?

[2022-11-18 10:53] #461 closed

[2022-11-18 14:35] inferno-chromium commented on #461
@HyuckjunChoi - can you write a short community blog on https://slsa.dev/blog about this new feature, how to use it and any potential projects that started using it ?

[2022-11-21 05:38] HyuckjunChoi commented on #461
@inferno-chromium Thanks for your suggestion. I can write a blog on https://slsa.dev/blog about this feature and I think it is a good opportunity to announce the slsa-jenkins-generator.

[2022-11-21 16:12] inferno-chromium commented on #461
Yes that would be great. It could be good to give some insights on future work / current limitations. Do you have any plans to achieve higher SLSA level compliance (non-falsifiable provenance ?) in Jenkins (via plugins or something).

[2022-11-21 17:02] marcelamelara commented on #508
@kpk47 Your list of recommended tasks looks good to me. Thanks!

Now that #525 is up, we should also reconsider how these recommended tasks fit with the refactored provenance.

[2022-11-21 21:43] AetherDeity opened #535 ""Modify code after review" should use same SLSA as "Directly submit without review""
There appears to be a gap in equating A1 - _Directly submit without review_ and A2 - _Modify code after review_. While the A1 threat has a mitigation of requiring a second review, the A2 threat's mitigation has been deemed as too expensive to implement. It seems inconsistent to require a review for the initial commits of a PR, but deem the subsequent review after additional commits as too expensiv

[2022-11-21 22:02] MarkLodato commented on #535
Overall, yes, the source requirements and threats need to be reworked. We are deferring this until after v1.0.

The idea with the current wording is that having "sticky approvals", so to speak, where the approval sticks even after a modification, is an incremental security gain:
- Benefit: From the attacker's point of view, submitting with no review at all is assume to be easier, and with lower ri

[2022-11-21 23:34] AetherDeity commented on #535
You make a good point with the initial hurdle of making a change that gets accepted as a barrier to entry in the A2 case as compared to A1, though that could be as simple as identifying a spelling error and making a PR to correct it. I was looking at it from the commit level, where the PR is just a mechanism for facilitating the review. In that case a given X' commit added after X commit was appro

[2022-11-22 02:34] HyuckjunChoi commented on #461
Yes I agree with you. Currently we are developing the jenkins plugin that would help jenkins users more easily generate provenance and we are also planning to develop the generator meets higher SLSA level requirements.
I think it would be better to include these plans on a blog.

[2022-11-23 09:29] 1633605 opened #537 "Signing and Provenance"
We have started using SLSA with ADO and would like to explore few scenarios as below.

1. signing artifact
2. provenance of artifact at deployment step

Is there any tool or utility available along with SLSA to sign artifact and verify the integrity of the artifact during deployment step. Please share if there is something available.

[2022-11-23 13:05] mlieberman85 commented on #537
Signing the artifact itself is out of scope, but signing the provenance metadata itself is in scope. What does ADO mean here? I'm familiar with ATO (authorization to operate) but unfamiliar with ADO.

As far as tools go for generating/signing most are either plugins to the build or build systems themselves. There's a bunch under the slsa-framework org like: https://github.com/slsa-framework/slsa-g

[2022-11-23 15:47] joshuagl opened #538 "Is there a better term than "packaging ecosystem" that is more obvious to most readers?"
We are trying to define personas/implementers for the various classifications of SLSA requirements. One that we would appreciate wider feedback on is "packaging ecosystem", as defined below.

* If you know of a better term please suggest it as a comment.
* If you agree that packaging ecosystem suits, please add a 👍 reaction (or any reaction other than 👎 or 😕).

_**Note**: this issue somewhat dupli

[2022-11-23 20:06] chair6 commented on #538
Depends on how you define "package"? :) To me, "packaging ecosystem" feels a little specific, given the examples in the quoted definition above .. "software distribution ecosystem", perhaps?

[2022-11-24 12:29] feelepxyz commented on #538
👋  We've grappled with this question at GitHub a fair bit and landed on "Package Ecosystem" as the least bad option. It's not perfect as there's some ambiguity but seems like the most common way to refer to these things.

Is there are reason for preferring `packaging` over `package`?

Google results:
- "package ecosystem": 28,100
- "packaging ecosystem": 8,510

[2022-11-25 10:02] joshuagl commented on #538
This is very helpful context, thank you!

I don't think so, other than that "packaging ecosystem" is production oriented which aligns with SLSA's focus. Switching to "package ecosystem" should be a simple change. 🙂

[2022-11-25 11:10] ciaracarey commented on #538
+1 for package ecosystem

[2022-11-28 04:49] HyuckjunChoi commented on #461
@inferno-chromium I would appreciate it if you could let me know where I can upload a draft blog post. I think it is here, right? https://github.com/slsa-framework/slsa/tree/main/docs/_posts

[2022-11-28 06:11] ianlewis commented on #461
@HyuckjunChoi That's the right place. You should be able to write the post for a future date and generate it with `jekyll --unpublished --future`

[2022-11-28 08:28] Pierre-Gronau-ndaal opened #540 "German translation"
Hello,

I will upload very soon a German translation of the SPEC 1.0. Please be so kind where SHOULD I put the files for the pull request.

Many thanks in advance.

Kindly regards

Pierre